[2016-04-07 16:05] davidmarkclements opened #1 "body: accept string as well as buffer"

[2016-04-07 16:05] davidmarkclements opened #2 "cli: --data"
as well as loading body from file, allow a --data flag for body to be set inline
dependant on #1

[2016-04-07 20:55] delvedor opened #5 "env: node\r: No such file or directory"
Hi!
I've installed autocannon but during the installation I get this:
[code]
As you can see the installation terminates without errors.

If I use autocannon by requiring it I have no problem, but if I use it via command line I get:
```env: node\r: No such file or directory.```

I've tried both via local and global installation and I'm using autocannon 0.3.0

[2016-04-07 20:58] mcollina commented on #5
Damn, I edited it in windows. Patch coming asap.
Il giorno gio 7 apr 2016 alle 22:55 Tomas Della Vedova <
notifications@github.com> ha scritto:

[2016-04-07 21:00] mcollina commented on #5
Fixed in 0.3.1.

[2016-04-07 21:00] #5 closed

[2016-04-07 21:07] delvedor commented on #5
Now the cli works perfectly, thanks!

I get the same warning during installation as above:
[code]

[2016-04-07 22:24] mcollina commented on #5
Normal, it's zlib :)
Il giorno gio 7 apr 2016 alle 23:07 Tomas Della Vedova <
notifications@github.com> ha scritto:

[2016-04-07 23:56] #1 closed

[2016-04-07 23:56] #2 closed

[2016-05-05 23:25] davidmarkclements opened #6 "precompile native-hdr-histogram binaries for different versions"
A fairly common use case involves changing node versions and then profiling, it would be cool if you didn't have to reinstall

[2016-05-06 19:53] mcollina commented on #6
That would be truly awesome.
In your experience, it is an hard thing to maintain? The problem is doing 3 OSes, Mac, Windows and Linux, and multiple versions of Node (4 and 6 at least).
Have you got any experience?

cc @marcopiraccini and @mcdonnelldean.

[2016-05-07 16:46] davidmarkclements commented on #6
I don't but it would be an interesting adventure, cylon.js managed it, using http://npm.im/node-pre-gyp, and even automated it with travis, and appveyor

[2016-05-08 07:40] mcollina commented on #6
I'm not a fan of prebuilts, as they create a massive maintenance overhead.
Let's do it if this reaches high usage.

Il giorno sab 7 mag 2016 alle 18:46 David Mark Clements <
notifications@github.com> ha scritto:

[2016-06-22 12:54] mcollina opened #9 "Export the progress bar and reporting"
The goal is to let users build their own tool if they want to, embedding autocannon.

[2016-06-22 13:00] mcollina opened #10 "Change the headers/payload"
There should be a synchronous API to change the payload if we want to, something like

[code]

[2016-06-22 13:56] thekemkid opened #11 "Failing test on Node v6"
Issue seems to stem from hdr histogram. Testing as appropriate, will report findings after.

Output:

[code]

[2016-06-22 13:58] mcollina commented on #11
It's not broken. The problem is that _there might be_ that stddev is zero. The test should verify that it is a Number.

[2016-06-22 14:01] thekemkid commented on #11
Indeed you are correct. Do I need to patch/update tests?

[2016-06-22 14:08] mcollina commented on #11
yes please :)

[2016-06-22 14:34] #11 closed

[2016-06-22 21:27] thekemkid commented on #9
How do you want the progress bar exported? I am thinking allowing the user to enter `renderProgressBar: true` in the options parameter will render the progress bar, as the bar itself is not an object which you can log, the output to console is managed internally in the progress bar.

To customise the rendering output of the bar, I would like to allow users to enter a `progressBarDisplay: SOME_STRI

[2016-06-23 11:47] #10 closed

[2016-06-24 07:56] #9 closed

[2016-06-24 07:58] mcollina opened #15 "latency tracking when pipelining is wrong"
When pipelining is activated, the latency measurement is wrong, because we only maintain one `startTime` (https://github.com/mcollina/autocannon/blob/master/lib/myhttp.js#L109) and not one for each pipelined request.

[2016-06-24 10:00] mcollina opened #16 "Support a way to set headers and body before the client is started"
Maybe we can pass in a function that returns an object, or a function that accepts a client.

What do you think @thekemkid?

[2016-06-24 11:18] thekemkid opened #19 "Documentation and validation work"
Currently, the documentation doesn't show how to customise the headers on the request.

For the duration option, browsing the code, it is required, but never checked, @mcollina, should we put a check in for the duration and test it, or default it to some value, eg. `10`? Obviously, this will need a unit test and documentation work, too.

Supported HTTP methods should be documented.

Show the defau

[2016-06-24 11:29] mcollina commented on #19
Go ahead with doc and validations.

[2016-06-24 11:30] mcollina commented on #19
IMHO connections and duration should always be specified, but Dave would like to have defaults

[2016-06-24 11:44] thekemkid commented on #16
You can pass the headers and body you want your request to be built with as options to autocannon already, and they are passed to the clients. Do you want to add an extra method of passing the headers and body to the clients?

[2016-06-24 11:57] mcollina commented on #16
The use case is "I want a custom header for each client".

[2016-06-24 12:53] thekemkid opened #21 "Add a bailout option"
If running a test against a server which dies, maybe you want your test to stop?

In this case, it might be useful to allow a user to specify a threshold of errors within a specific timeframe to cause a bailout. This would surely damage perf though A better way of managing this is to just exit after the error threshold is hit (not needing an error timeframe).

Examples:

Say you have a server you

[2016-06-24 12:55] thekemkid commented on #21
Or maybe we could have a timeframe number, and just set an interval to clear the error count during that timeframe, and then the we just check against the number of errors, which is cleared per timeframe iteration. That might not damage perf like tracking the amount of errors since an error which is within the timeframe

[2016-06-24 14:22] #19 closed

[2016-06-24 14:22] #15 closed

[2016-06-24 14:31] mcollina commented on #21
👍 send a PR.

[2016-06-24 15:25] thekemkid opened #23 "Timeouts for valid requests from a living server/connection"
How are these handled and detected?

[2016-06-24 17:27] mcollina commented on #23
Not at the moment. If a client dies, it is restarted. We should support a timeout! Any proposal on how to do thaf?

[2016-06-24 17:28] mcollina commented on #16
Released as 0.6.0.

[2016-06-24 17:28] mcollina commented on #16
My bad, wrong issue.

[2016-06-24 17:32] thekemkid commented on #23
Maybe just use reTimer, and reset per reply? I'm not sure how perf will will be able to handle this thought :(

[2016-06-24 17:50] mcollina commented on #23
let's do it and check.

[2016-06-25 15:30] #16 closed

[2016-06-25 15:31] #21 closed

[2016-06-25 19:29] thekemkid commented on #23
Default timeout time on firefox is about 120 seconds [according to posts on StackOverflow](http://stackoverflow.com/questions/13582409/http-client-timeout-and-server-timeout), I am going to use this as the default time.

[2016-06-25 22:20] thekemkid opened #27 "Allow users to specify a rate of requests per seconds"
Many benchmarking tools allow users to specify the rate of requests per second. It would be nice to support this. If the rate cannot be met, we should just do as many requests as we can. If no rate is specified, we should do as many requests as possible.

@mcollina We'll need to chat about this, as I'm not sure how the code for this would look or work. Rate limiting on a huge rate that cannot be m

[2016-06-26 07:56] mcollina commented on #27
I _disagree_ with this feature. The reason why `wrk` is so good, it is because it drives load to the maximum amount of what the target can handle (and the given host produce). Specifying a number of requests per second means second-guessing the maximum load.

`ab` does that. I typically use `ab` to crash systems, because it will throw that number of request per second _no matter what_.

I think th

[2016-06-26 07:57] mcollina commented on #23
a 120 s timeout is useless, given that we are trying to drive thousands of requests per second, one after the other.

[2016-06-26 15:15] thekemkid commented on #27
I was basing the `rate` feature off of `wrk2` and [`vegeta`](https://github.com/tsenart/vegeta). If you don't want to support this though, I'll document it as a design choice. :)

[2016-06-26 15:18] thekemkid opened #28 "https support?"
Needed or not? This tool is obviously meant to be used for systems in development, so not supporting https makes perfect sense, but we need to document it.

[2016-06-26 15:43] mcollina commented on #28
I think we can support it easily. All the current logic is stream-based.

[2016-06-26 15:55] mcollina commented on #27
It is a design choice. I'm fine with a PR implemented as "as much the given throughput", rather than "constant throughput". This is how wrk2 is implemented.

The usual task is "how much load can this take on X number of connection?". Specifying also the max rate is useful in some conditions (what is the latency at 2000 req/s), but it is less frequent.

So, let's document the current behavior, and

[2016-06-27 13:22] #23 closed

[2016-06-27 16:05] #28 closed

[2016-06-28 09:12] mcollina opened #32 "provide html generator"
I think we can build another tool that takes autocannon json and produces an html page, possibly with comparisons with a previous run. We may want to add some metadata to the CLI to add a name to the given bench.

Also, we can print the latency using a histogram and so on.. :D.

[2016-06-29 15:15] mcollina commented on #6
@thekemkid it's just a matter of bumping the dependency of native-hdr-histogram!

[2016-06-29 15:38] thekemkid commented on #6
I'm waiting until we have a successful build published to s3, because otherwise the dependency download in travis will fail 👍

[2016-06-29 15:52] thekemkid opened #33 "Allow users to supply an array of `requests` to use when benching"
Currently, you can supply the request `headers` and `body` when creating an `autocannon` instance. In future, I would like to see the ability to supply an array of objects with `headers`, `body`, `method` and `path` attributes. This might look like so:
[code]

This would allow autocannon to pre-generate the http request data, and then create connections, pass in the requests, and each connection c

[2016-06-29 16:18] mcollina commented on #33
👍  get working on it.

one catch: use the `method`, `headers`, `path` and `body` specified in the top level config object as defaults.

[2016-06-29 16:20] davidmarkclements commented on #6
so we're doing this then? *awesome*

[2016-06-29 16:20] mcollina commented on #6
No, it's _done_. Just waiting for the prebuilts to finish before releasing.

[2016-06-29 16:20] #6 closed

[2016-07-04 22:30] mcollina opened #37 "samples for requests option"
as titled

[2016-07-04 23:49] #33 closed

[2016-07-04 23:49] thekemkid commented on #33
fixed by #36

[2016-07-04 23:55] thekemkid commented on #32
I've been thinking about this, it could be achieved nicely using template strings, and we could embed some third part libraries into the html by downloading minified versions of them and reading them into buffers on creation of the html, and stringifying them. It would enable everything to be viewed offline, and we could look at adding graphs, etc, for the histogram data :D thoughts?

[2016-07-05 00:53] #37 closed

[2016-07-05 00:59] mcollina commented on #32
@thekemkid yes! I think we should embed everything in the same HTML thing, if possible. Ideally the HTML should be self-consumable, with no external dependency. @davidmarkclements did some similar work on this stuff for 0x.
@mcdonnelldean did some research, and I think he found https://gionkunz.github.io/chartist-js/ very useful.

[2016-07-05 01:06] mcollina commented on #32
You might want to have a look at https://www.npmjs.com/package/hyperx (it's the basis of yo-yo).

[2016-07-05 15:53] davidmarkclements opened #39 "https default port"
currently defaults to 80 instead of 443

[2016-07-05 15:54] davidmarkclements opened #40 "propogate error object through connError event"

[2016-07-05 18:03] #39 closed

[2016-07-05 18:03] #40 closed

[2016-07-05 18:32] mcollina opened #42 "explicit the total number of bytes in the json output"

[2016-07-05 18:52] thekemkid commented on #42
is that throughput.total?

[2016-07-05 19:00] mcollina commented on #42
My bad :/

[2016-07-05 19:00] #42 closed

[2016-07-05 19:01] mcollina opened #43 "add a --name (or --title) swith"
The name (or title) switch should be emitted in the reaults. We may even add the time at which it finished. This makes the json results easier to debug.

[2016-07-05 19:12] thekemkid commented on #43
Obviously this should be a top level instance param... what should it default to? I will add start and finish time to the json for debug purposes.

[2016-07-05 19:13] mcollina commented on #43
`undefined`? so it stays empty if not specified

[2016-07-05 19:15] thekemkid commented on #43
Okay, no problem.

[2016-07-05 21:13] #43 closed

[2016-07-06 15:27] davidmarkclements opened #46 "non 200's not recorded"
cc @thekemkid

[2016-07-06 16:26] mcollina commented on #46
fixed in #47

[2016-07-06 16:26] #46 closed

[2016-07-06 16:41] davidmarkclements opened #48 "only count 2xx's"
currently all response types are counted, this throws averages off (e.g. a 502 response could be much faster than 200)

just count 2xx responses

[2016-07-06 17:58] davidmarkclements opened #50 "requests per connection option"
overrides duration, set amount of requests to make per conn, and finish when all requests are complete

for instance, "I want to see how long it take for 100 connection to concurrently make one request"

[2016-07-06 18:19] mcollina commented on #50
👍

[2016-07-06 19:39] thekemkid commented on #48
fixed in #47

[2016-07-06 19:39] #48 closed

[2016-07-08 06:39] alexindigo commented on #27
In the docs it said "greatly inspired by wrk and wrk2" is the only difference between wrk and wrk2 is rate limit, which makes totally not inspired by wrk2. :)

PS. Rate limit seems to be more useful to me than number of connections, although I probably missing something from the big picture. Would appreciate more detailed explanation. Thank you.

[2016-07-08 06:47] alexindigo opened #52 "broken progress"
I installed autocannon as local module (it had some issues with global installation),
and getting js error while trying to run simple test:

[code]

Thank you.

PS. Linux, node@4.4.7, npm@2.15.8

[2016-07-08 09:06] thekemkid commented on #52
have you tried `autocannon -c 1 -d 1 http://n...`?

[2016-07-08 11:11] mcollina commented on #27
IMHO the main difference between wrk and wrk2 it is the use of hdr histogram, which this library uses as well.

Rate limit will be a nice feature to add, _we_ just don't need it right now. Anyway, both you and @thekemkid are right, we need to get this going.

[2016-07-08 11:15] #50 closed

[2016-07-08 11:24] #52 closed

[2016-07-08 15:28] #27 closed

[2016-07-08 15:32] thekemkid opened #55 "API review"
As per @davidmarkclements comment in #54, we should review the API (and do a general code cleanup).

The amount of options a user now has available to them has grown greatly over the last week or so, and with that growth came a lot more code, and less API thought/considerations.

[2016-07-08 15:33] thekemkid opened #56 "Docs"
We're nearing a stage where this is close to a 1.0.0 release, we should do some indepth docs for new users, along with more samples.

[2016-07-08 16:08] mcollina commented on #55
go ahead and make a proposal :)

[2016-07-08 16:09] mcollina commented on #56
after #55, or maybe as part of it

[2016-07-08 16:55] alexindigo commented on #52
Ha, API was too close to wrk but not the same :) And thanks for the quick fix.

[2016-07-08 17:01] thekemkid commented on #52
Your original command should work now, now 👍 Happy to help

[2016-07-11 15:43] mcollina opened #58 "A newline is added when writing to a file"
Wrong space when writing to file:

[code]

vs
[code]

[2016-07-11 15:46] mcollina opened #59 "colors disabled when -j is set and we are writing to a file"
As titled, we might probably want to override some stuff in [`chalk`](https://github.com/chalk/chalk).

Chalk is disabled because of a check in https://github.com/chalk/supports-color/blob/master/index.js.

See https://github.com/chalk/supports-color/blob/master/index.js#L41-L43.

We can either internalize that check, or sending them a PR to expose that as a function that accepts a stream. Or mayb

[2016-07-11 15:58] thekemkid commented on #58
Cannot reproduce 😬 Did you hit an extra enter button by accident?

[2016-07-11 16:00] thekemkid commented on #59
I think that a pr is the best approach. Will do later 👍

[2016-07-11 16:22] mcollina commented on #58
My bad 😱

[2016-07-11 16:22] #58 closed

[2016-07-12 10:13] bzoz opened #60 "error when redirecting output"
Under Linux, with node 6.3.0. Also happens on master:

`autocannon -d 1 example.com > out 2>&1`

Result - error in node_modules/progress/lib/node-progress.js:177:

`TypeError: this.stream.clearLine is not a function`

Happens only if both stdout and stderr are redirected.

[2016-07-12 17:36] mcollina commented on #60
thanks for reporting @bzoz. We'll get it fixed asap.

Just checking, why would you want to do that? You can have the results in as `autocannon -d 1 -j example.com > out.json`, and have the reporting on stderr. I'm trying to understand the use case :).

[2016-07-12 18:06] bzoz commented on #60
@mcollina I got this when I tried to run autocannon as a script from node

[2016-07-12 19:04] mcollina commented on #60
Sorry about that, it was broken in the latest patch release, we'll fix it tomorrow.

[2016-07-12 22:09] mcollina commented on #60
The fix is in the pr above ^^.

Let me know when the options you are using in core are finalized (if I remember correctly, you were using json output), I'll add a test specific for that use case, so we don't break it accidentally anymore.

[2016-07-13 10:28] #60 closed

[2016-07-13 10:59] mcollina opened #63 "travis and appveyor badges"
cc @thekemkid

[2016-07-13 11:54] #63 closed

[2016-07-13 16:44] mcollina opened #65 "disconnect and reconnect clients after a while"
We should be able to force a dns lookup each X requests to support AWS ELBs:

In single client tests, a load generator will issue requests to the server using the same client. In most cases, the client does not re-resolve the DNS after the test is initiated. A good example of this type of test is Apache Bench (ab). If you are using this type of testing tool, there are two options:

[2016-07-13 16:58] mcollina opened #66 "manually resolve dns entries and rotate them between the connections"
Similar to #65.

I'm not 100% sure that it's needed.

[2016-07-13 17:44] thekemkid commented on #66
Are you working on this and/or #65? I can crack into them tomorrow if its not high priority

[2016-07-13 18:22] mcollina commented on #66
I need to do some research on this one first. The other is up to take.
Il giorno mer 13 lug 2016 alle 19:44 Glen Keane <notifications@github.com>
ha scritto:

[2016-07-14 06:07] mcollina commented on #66
This is not needed and automatically implemented.

[2016-07-14 06:07] #66 closed

[2016-07-14 06:09] mcollina commented on #65
@thekemkid this is not urgent, we'll leave this open.

[2016-07-14 13:09] thekemkid opened #67 "Should --json default to true when stdout is not a tty?"

[2016-07-14 13:31] mcollina commented on #67
I would leave things as they are for now.

[2016-07-14 13:50] mcollina commented on #67
I'm interested in what @bzoz think about this.

[2016-07-14 14:23] thekemkid opened #68 "Should we ensure strings start with `http`?"
I ask because if you do something like `autocannon google.com` it doesn't recognise the actual address. Simple enough to fix, just check `url.indexOf('http') === 0` and if not, prepend 'http://' before it's parsed by node's internal url module.

This check would also pass for `https`, hence why I don't check for `http://`

[2016-07-14 14:24] mcollina commented on #68
go ahead. We can default to http.

[2016-07-14 14:57] mcollina opened #70 "shrinkwrap before release"
I think it might be a good idea to avoid regressions, as this can be used a CLI tool.

[2016-07-18 10:49] mcollina commented on #59
See also https://github.com/isaacs/color-support.

[2016-07-18 10:53] #68 closed

[2016-07-19 11:10] bzoz commented on #67
I think not. In things like Visual Studio Code it would make autocannon output json by default to "console window", it would be confusing for new users.

[2016-07-19 11:14] mcollina commented on #67
All good then, are you happy with the current output?

[2016-07-19 11:14] bzoz commented on #67
Yeah, it is good.

[2016-07-19 11:31] #67 closed

[2016-07-20 11:27] mcollina opened #71 "count the number of requests made"
And expose it :).

cc @thekemkid

[2016-07-21 09:50] #71 closed

[2016-07-21 10:13] mcollina opened #73 "Add an example using track"
se should remember to add the following:

[code]

to correctly handle CTRL-C

[2016-07-21 14:10] #73 closed

[2016-07-21 22:17] thekemkid commented on #65
Should this reconnect metric be timer based or request count based?

[2016-07-22 15:34] #65 closed

[2016-07-24 15:09] mcdonnelldean opened #77 "Can't install on Node 5 NVM 3.3.12"
Just hangs,

- Hangs when installing via npm (any version)
- Hangs when installing locally to link (master branch)

I'm trying to get it working with Node 4 now via local, I'll ping when updated. (Although it looks to be hanging too)

[2016-07-24 15:22] mcdonnelldean commented on #77
Not working on 4.x either (npm 2.12.4). I've tried as far as 0.11.x

This is as far as I can get,

[code]

[2016-07-24 15:23] mcdonnelldean commented on #77
@mcollina @thekemkid Suggestions?

[2016-07-24 15:44] mcdonnelldean commented on #77
Seems https://github.com/mcollina/native-hdr-histogram is hanging, I tried to locally install and link, no dice either.

[2016-07-24 15:50] thekemkid commented on #77
Compatibility is node v4 and above just so you know.

I think it has to do with npm v2, investigating

[2016-07-24 15:51] mcdonnelldean commented on #77
@thekemkid Yeah I assumed that. I've tried 4 and 5. No errors or anything, just hanging.

[2016-07-24 15:55] thekemkid commented on #77
Can you verify you can install https://github.com/mapbox/node-sqlite3?

[2016-07-24 16:13] thekemkid commented on #77
After chatting to @mcdonnelldean on skype, I cannot reproduce this right now, but I'll be investigating it more during the week.

[2016-07-24 16:18] mcdonnelldean commented on #77
For context, we have it working on 4.4.x. I'll test again with later versions once I am finished using it. It seems it may have been an npm brainfart but will confirm Monday.

[2016-07-24 22:30] mcollina commented on #77
Here is working fine/as expected. Maybe network/npm issues? Were you able to grab a npm log?

@thekemkid we should probably have some timeout in place to avoid these situations and fallback to build.

[2016-07-25 09:20] thekemkid opened #78 "Support some form of threading/multi process benchmarking."
Maybe we should use node's cluster, or node-webworker-threads. Or is a single event loop enough to drive this?

[2016-07-25 13:32] mcollina commented on #78
some bits: a single event loop is _usually_ enough to saturate a single (virtual) network card using the basic API (what's exposed via the cli tool). If the data is customized a lot, it might not be enough.

I would rather focus on supporting a networked mode, where we can coordinate multiple autocannon instances across different virtual machines, to leverage more bandwidth. The key difficulty is

[2016-07-25 13:32] #78 closed

[2016-07-25 16:38] davidmarkclements commented on #77
working on OS X 10.11.1 - node v6.3.0, node installed with `n`

[2016-08-04 12:00] #59 closed

[2016-08-08 10:45] bzoz opened #81 "Extra stderr output when json is piped to file"
Under Linux:
`autocannon -d -j example.com > stdout 2> stderr`

Result: JSON is stored in `stdout`. But default output (i.e. one with progress, results table etc.) is stored in `stderr`. This does not happen neither when output is not piped to file, nor when `-j` is not used.

[2016-08-08 11:02] bzoz opened #82 "TypeError: Expected a number, got number"
When benchmarking [this node.js script](https://gist.github.com/bzoz/4bedbd51c3160875144c1dd108673eaa) with:
`autocannon -d 1 localhost:1234`

Result:
[code]
This does not happen, when `-j` is used, which produces:
[code]

[2016-08-15 12:12] thekemkid commented on #81
Should I remove the stderr output when json is being output?

[2016-08-15 12:20] thekemkid commented on #82
Unfortunately I'm having some trouble reproducing this, can you confirm this is happening with current master?

[2016-08-16 09:14] mcollina commented on #81
Sorry, I'm missing a bit. What is the expected behavior you need @bzoz?

[2016-08-16 09:27] bzoz commented on #81
With `-j` provided I would expect to get only json and no other output.

[2016-08-16 09:28] mcollina commented on #82
Maybe this is related: https://github.com/mcollina/autocannon/pull/83

[2016-08-16 09:29] mcollina commented on #77
Closing, feel free to reopen if it happens again.

[2016-08-16 09:29] #77 closed

[2016-08-16 09:36] mcollina commented on #81
We changed this recently because:

[code]

Will display a progress bar, and all the rest of the human readable output.
It's really handy when you are executing this in a Jenkins job, and you want to display both some human readable result for quick-consumption, and store the data somewhere.

You can remove the non-json output by passing the `-n` switch.
Maybe we should make that clearer in the doc

[2016-08-16 09:42] bzoz commented on #82
@thekemkid Tried with master, same results.

@mcollina Changing `-d` does not make any difference, so they seem unrelated.

From what I observed, this error only occurs with high values for `len`. If I change it from 1m to 1k autocannon works as expected. Also note, that in the json output all values for "throughput" are null.

[2016-08-16 09:44] bzoz commented on #81
This does not break anything for me, it is just a nit.

Anyhow - adding `-n` still produces summary (table with Latency, Req/Sec and Bytes/Sec) to the stderr.

[2016-08-16 09:51] mcollina commented on #82
@bzoz can you please upload a little test server that exhibits this?

[2016-08-16 09:57] bzoz commented on #82
Here https://gist.github.com/bzoz/4bedbd51c3160875144c1dd108673eaa.

This is cropped version of https://github.com/nodejs/node/blob/master/benchmark/http/end-vs-write-end.js. With `buf` as type, `1024` as kb and `write` as method.

[2016-08-16 11:06] mcollina commented on #82
I can't reproduce with v0.13.3. Which version are you on?

I can get:

[code]

Meaning that 0 requests completed (with a buffer of `1024*1024*1024`).

[2016-08-16 11:14] mcollina commented on #81
Let me close this, and let's make sure `-n` does not print anything.

[2016-08-16 11:14] #81 closed

[2016-08-16 11:14] mcollina opened #84 "-n should not print the table too"
As titled, currently `-n` just removes the progress bar.

[2016-08-16 12:37] #84 closed

[2016-08-16 12:47] bzoz commented on #82
I'm trying it with one in the master branch. It happens when autocannon tires to pretty-print `result.throughput` which contains NaN values. The json output I get:
[code]

It seems it is somewhat flaky, as I am able to run autocannon sucesfully from time to time.

[2016-08-16 12:51] bzoz commented on #82
Another thing I found: if I slow down my VM, problem goes away. Could there be overflow somewhere in throughput calculations?

[2016-08-16 12:55] bzoz commented on #82
I played some more, and I think I nailed it: this happens when rate gets above 1 GB/s.

[2016-08-16 12:59] mcollina commented on #82
@bzoz I can't get it to trigger the error :(.

I'm very impressed autocannon can go that fast 💨  💃 .

[code]

This is probably wrong, and maybe it's related to a duration of 1s. Can you try something longer, maybe 5-10s? Can you still reproduce?

Worst-case: we  just wrap it in a check if it is `NaN` or null: https://github.com/mcollina/autocannon/blob/master/lib/progressTracker.js#L95.

[2016-08-16 13:04] bzoz commented on #82
I've added `if (numberIsNan(num)) return 'NaN';` to pretty-bytes. Now I get this:
[code]

[2016-08-16 13:22] bzoz commented on #82
https://github.com/mcollina/autocannon/blob/master/lib/run.js#L37 causes this. If I add one more zero there it works. If you remove one or two you should start getting the same errors that I had.

[2016-08-16 13:44] mcollina commented on #82
LOL, I thought 1000000000 was a bigger enough number. Would you like to send a PR on that? Adding zeros is perfect.

[2016-08-16 14:21] bzoz commented on #82
I'll make the PR. I think two more will be enough :)

[2016-08-16 15:34] #82 closed

[2016-08-16 15:41] mcollina opened #87 "Max throughput is reported as negative"
This is the server:

[code]

And I am using this line: `./autocannon.js -d 10 -j localhost:1234`

[code]

I think the problem lies in the int32 conversion:

https://github.com/mcollina/native-hdr-histogram/blob/master/hdr_histogram_wrap.cc#L91-L107

Damn, I remember thinking _I will never hit that bug_ when I wrote those lines.....

[2016-08-16 15:43] mcollina commented on #87
cc @bzoz

[2016-08-16 15:45] bzoz commented on #87
Cast to `int32_t` done [here in native-hdr-histogram](https://github.com/mcollina/native-hdr-histogram/blob/master/hdr_histogram_wrap.cc#L100) is to blame. Just found it too.

[2016-08-16 21:12] #87 closed

[2016-08-19 15:46] mcollina opened #88 "Improve autocannon to match wrk"
As shown by @AndreasMadsen in https://github.com/nodejs/node/pull/8140/files#r75463752, autocannon does not match `wrk` in some areas.

[2016-09-01 13:25] roccomuso opened #89 "README.md typo"
[code]
Missing a "p" in <code>handleResponse</code>

[2016-09-01 14:01] #89 closed

[2016-10-03 13:55] mcollina opened #91 "should install over HTTP proxies"
as titled

[2016-10-03 14:14] thekemkid commented on #91
Whats happening? I'm not sure I understand this issue.

[2016-10-03 22:17] mcollina commented on #91
I think node-pre-gyp is not passing through proxy servers on windows.

[2016-10-04 15:37] thekemkid commented on #91
node-pre-gyp should fall back to node-gyp in the case AWS is inaccessible. I'll try dig into this

[2016-10-04 17:15] mcollina commented on #91
@thekemkid and then it fails because it's missing python and the compiler.

[2016-10-04 17:15] mcollina commented on #91
(with a bad error)

[2016-10-09 18:47] eljefedelrodeodeljefe opened #92 "feature_request: make autocannon run indefinitely whilst emitting reports periodically"
In a microservice architecture it is nice to have constant load on the systems to track p99 latencies.

This talk gives a nice real world example done by Uber. https://www.youtube.com/watch?v=kb-m2fasdDY

Hence it would be cool to have:

[code]

[2016-10-09 20:05] mcollina commented on #92
I'm missing what the 'report' should do, compared to the callback.

Would you like to send a pr?

[2016-10-09 20:07] eljefedelrodeodeljefe commented on #92
The idea would be streaming the report to some kind of UI to have a continuous metrics. Sure, will PR or maybe get @thekemkid into the loop.

[2016-10-09 20:36] mcollina commented on #92
There is already an event fired (the one that updates the progress bar in the CLI), isn't that enough?

[2016-10-09 20:38] eljefedelrodeodeljefe commented on #92
Sure my point is rather having autocannon running forever reliably by passing a 0 duration or similar. I believe there is nothing for it, right?

[2016-10-09 21:42] mcollina commented on #92
At the moment no. Most of the code is written to be extremely low overhead,
and I fear it might cause either a slowdown or a decently sized rewrite.

A quick-and-dirty solution is to reschdule autocannon when it finishes.
However, this would kill the tcp sockets.

Would you be ok with emitting fresh data every 5-10 seconds?

The problem is that autocannon will generate the maximum amount of load i

[2016-10-14 08:47] ndelvalle opened #93 "Module parse failed importing autocannon on a electron app with webpack"
I'm building an electron app, I'm trying to use this library but I got the following error when trying to import it.

[code]

Removing the shebang line didn't solve it, It creates lots of warnings like:

[code]

Any ideas that could help me out using the lib in this environment?

[2016-10-14 09:06] mcollina commented on #93
Can you please upload a sample application with all the automation in place to verify what is going on?

The problem is related to `native-hrd-histogram`, as the name suggest, it is a native component, written in c++. This stack overflow issue might be of use: http://stackoverflow.com/questions/32986826/calling-node-native-addons-c-in-electron.

[2016-10-14 09:08] thekemkid commented on #93
Could you also try follow these instructions when doing the dependency install? : http://electron.atom.io/docs/tutorial/using-native-node-modules/

[2016-10-14 10:52] ndelvalle commented on #93
@mcollina [Here](https://github.com/ndelvalle/muzen) is the project and [here](https://github.com/ndelvalle/muzen/blob/master/app/src/components/main/harass/Harass.vue) is the file where I'm trying to use autocannon (Just uncomment the code to test the failure).

@thekemkid I already tried running `./node_modules/.bin/electron-rebuild` after installing this dependency, and I'm still having the pro

[2016-10-14 12:53] mcollina commented on #93
I _think_ you need to run autocannon on the main process, and not on the renderer. It might even be better if you can spawn it in a child process, and the communicate via IPC.

[2016-10-17 21:42] ndelvalle commented on #93
Im trying this approach, but I still have problems with `native-hdr-histogram`

I have the following error:

[code]

I looked for `node_modules/native-hdr-histogram/lib/binding/electron-v1.4-darwin-x64/histogram.node` and it didnt existed. So I run `node-pre-gyp rebuild --target=1.4.3 --arch=x64 --dist-url=https://atom.io/download/atom-shell` into `native-hdr-histogram` folder to generate the bind

[2016-10-18 08:49] mcollina commented on #93
Are you sure the file was generated?

It seems it is trying to load native-hdr-histogram/lib/binding/electron-v1.4-darwin-x64/histogram.node. I am a bid confused about the `lib` folder. Are you sure that the file has been added there?

I'm not familiar with electron and native modules.

Maybe @marcopiraccini knows.

[2016-10-19 12:53] ndelvalle commented on #93
Hi @mcollina the problem was that I didn't remove the dependency from the renderer (I ended up having the dependency in the main process and the renderer). I just rebuild the natives modules for the main process.

So following your approach of running the lib in the main process and rebuilding the native modules as shown in the link provided by @thekemkid is working fine 👍

Thanks for the help and

[2016-10-19 12:53] #93 closed

[2016-10-19 13:39] thekemkid commented on #93
Awesome to hear, glad you solved it! 👍

[2016-11-11 13:08] #92 closed

[2016-11-17 11:45] Shadowbeetle opened #97 "Difference between average and mean in json output"
I saw both average and mean in the json output, a they used as aliases or mean is different from the arithmetic mean here?

[2016-11-17 11:49] thekemkid commented on #97
I think average to be the _median_ here, not the mean. Need to double check, though, and will confirm

[2016-11-17 11:53] thekemkid commented on #97
Wait, I'm wrong, the average is also the mean, its added for compatibility with wrk. see code here: https://github.com/thekemkid/hdr-histogram-percentiles-obj/blob/master/index.js

[2016-11-17 11:53] #97 closed

[2016-11-17 11:53] thekemkid commented on #97
Closed because this answers your question, feel free to reopen if you have more 👍

[2016-11-17 11:54] Shadowbeetle commented on #97
I'm good, thanks a lot!

[2016-12-01 21:46] mcollina commented on #93
cc @mhdawson (from our discussion at NINA)

[2016-12-29 08:23] i5ting opened #99 "test koa@next throw Error: write EPIPE"
test koa@next

[code]

throw Error: write EPIPE

[code]

is this autocannon's issue?

[2016-12-29 12:39] davidmarkclements commented on #99
which process gives EPIPE? Koa process or autocannon? Try setting ctx.body to a string instead of obj

[2016-12-29 23:54] i5ting commented on #99
@davidmarkclements hi, autocannon process

in koa 2.x it will be convert json default, see here  https://github.com/koajs/koa/blob/v2.x/lib/response.js#L177

[2016-12-30 07:16] mcollina commented on #99
I can't reproduce. Can you please provide detailed instructions?

[2017-01-04 15:44] i5ting commented on #99
@mcollina there's no more details。you can run koa@2 demo,and then do autocannon

[2017-01-04 15:46] i5ting commented on #99
https://github.com/sletjs/benchmark

[code]

[2017-01-04 15:48] i5ting commented on #99
it will happen at most time

[2017-01-04 16:34] mcollina commented on #99
I do not think that happens from `autocannon` codebase, but it is in `koa`.

Could you run the two thing separately?

[2017-01-17 22:31] bonesoul opened #100 "can't get autocannon working with https (celf signed certificate)"
any ideas?

[2017-01-17 22:59] thekemkid commented on #100
How are you running autocannon?

[2017-01-18 00:37] bonesoul commented on #100
`autocannon -c 100 -d 5 -p 10 https://localhost:4443`

[2017-01-18 13:00] mcollina commented on #100
In theory we are already accepting self-signed certificate, see https://github.com/mcollina/autocannon/blob/eca25a0e33a98e076a37c6af1223b7f91ddf3fbf/test/httpClient.test.js#L27. Can you upload a server example that produces this error?

[2017-02-13 18:50] darArch commented on #32
I've been working on [Winchester](https://github.com/darArch/winchester) recently, which allows AutoCannon to be configured for automation purposes (we aim to use it for nightly soak testing at work). It produces output in the form of HTML pages using Pug & Chartist for local consumption as well as having an option to log data to a StatsD server.

I don't know whether it fits the need described in

[2017-02-14 09:10] mcollina commented on #32
@darArch cool! Would you like to extract the HTML generator into its own tool? That would make it more composable than a full runner.

Also, it should run on Node v4+.

Do you have a published example of the html?

[2017-02-14 09:21] darArch commented on #32
Cool, there is example output in the example folder, if you clone the repo you should be able to just open the files in your browser. I'll probably add some screenshots to the README too. It's pretty basic but you get the overall idea of what it looks like and it should be pretty easy to expand upon.

I'll start looking into Node v4+ compatibility first, then extract the generator afterwards.

[2017-02-18 10:47] anoff opened #101 "Debugging connectivity issues | reqError === undefined"
I'm trying to set up autocannon and think I'm having some connectivity issues. Running against a local instance works fine.
However if I target the remote machine I want to test, all requests seem to error. I suspect issues with proxy or broken SSL chains.

I couldn't figure out how to debug the request errors though. Is there a way to print each requests response/error message? It would help a lo

[2017-02-18 13:33] thekemkid commented on #101
'Broken ssl chains' leads me to ask the question: should you be using `https`?

[2017-02-18 14:04] anoff commented on #101
@thekemkid if you're referring to the example code using `http` - copy&paste error.
Questioning using HTTPS with a broken chain: Corporate proxy checks the packages content and therefore breaks the certificate chain. So it's a broken chain for me as a dev from within corporate network but our external customers have proper SSL.

[2017-02-18 15:10] thekemkid commented on #101
Fair enough, was just checking first. :)

What do get if you curl the endpoint you're testing?

[2017-02-18 15:27] thekemkid commented on #101
Also, for other purposes:

You can access the events the internal http client emits, using the setupClient property of the options. Check here: https://github.com/mcollina/autocannon#client-events (The internal error events aren't documented, that might be worth a PR)

You can use this to see if the errors are timeouts or connection errors, and if they're connection errors, get access to the error

[2017-02-18 16:15] anoff commented on #101
Thanks for the quick response. I'm planning to PR updated docs once I found all the required events. Have to wait to until monday to try that snippet though 😿

[2017-02-20 07:23] anoff commented on #101
When curling the endpoint I get the expected response.
The `connError` fires with a ENOTFOUND dns error.

It seems like `autocannon` is not aware of the $HTTP_PROXY environment variables available. The same error occurs on `curl` if i don't have any proxies set.
I'll try to dig into the code but helpful for any hints :)

PS: I tried using it over HTTP (which is also served atm) to rule out SSL iss

[2017-02-20 12:36] thekemkid commented on #101
So, autocannon just uses a node tcp socket to connect to the server and a different http parser under the hood. Maybe try debugging with a node script to fetch what you need before benchmarking? Just try with [request](https://www.npmjs.com/package/request) and let us know if that works/resolves

[2017-02-20 15:09] anoff commented on #101
Request works fine since it has support for proxies. However `net` and `tls` do not support proxies.
Would it be of any use to try to use the native `http` module instead of `net`? I imagine that using the low-level network interfaces is one of the reasons that `autocannon` is able to achieve better performance than other node libraries.

[2017-02-20 15:11] mcollina commented on #101
Sorry to jump on this, but are you trying to do http load testing through an HTTP proxy?

[2017-02-20 15:15] anoff commented on #101
@mcollina Yes, at least while developing the test-suite.

[2017-02-21 07:56] mcollina commented on #101
That is definitely not supported at the moment by autocannon, and adding the support might be difficult. However, the problem is that the error is not really forwarded to you and we should fix that.

You shouldn't really run autocannon (or any other benchmarking tool) against an HTTP proxy.

[2017-02-21 08:23] anoff commented on #101
I understand that benchmarking through a proxy does not make sense. However I also don't want to deploy to the designated test runtime to set the thing up. I was planning on running it with _non-benchmark_ parameters. But I'll just have to stub the `autocannon` behavior for development then.

Feel free to close the issue, I'll try to PR updated docs with the hints that @thekemkid gave me earlier f

[2017-02-23 14:37] #101 closed

[2017-03-29 11:35] mpfdavis opened #104 "'autocannon is not a function' when upgrading to 0.16.2"
When updating autocannon from 0.16.1 to 0.16.2 all tests break with error:  "(0 , _autocannon2.default) is not a function" (using babel), Node 6.9.4.

[2017-03-29 11:39] thekemkid commented on #104
Will do a quick fix now

[2017-03-29 11:57] thekemkid commented on #104
Should be resolved with 0.16.3. Apologies for the inconvenience.

[2017-03-29 11:57] #104 closed

[2017-03-31 08:04] sashman opened #105 "Help throws TypeError: Cannot read property 'on' of undefined after printing"
Hey, just updated to the latest version 0.16.3. On node 7.4.0 and npm 4.1.1, Kernel 4.7.4-1-ARCH

When I run `--help` or `-h`, I get the help print and at afterwards:

[code]

[2017-03-31 08:43] #105 closed

[2017-04-05 03:35] thekemkid commented on #100
I'm closing this due to inactivity, we already support self-signed certs as per @mcollina's comment and cannot verify that this issue exists without more detailed output or an example failure case. Feel free to reopen if this is still an issue.

[2017-04-05 03:35] #100 closed

[2017-07-03 15:12] rolandg opened #108 "Error: Cannot find module '.../histogram.node'"
I'm getting following error after successful global install on ArchLinux.

[code]

[2017-07-03 15:14] mcollina commented on #108
which version of Node.js are you using?

[2017-07-03 15:15] rolandg commented on #108
[code]

[2017-07-03 15:18] mcollina commented on #108
can you reinstall, and upload all the npm output to gist and link it here?

Maybe reinstalling will actually fix it.

[2017-07-03 18:42] rolandg commented on #108
For some reason uninstalling and reinstalling fixed the issue. can't reproduce.

[2017-07-03 18:42] #108 closed

[2017-07-23 21:57] diorahman opened #109 "Why could autocannon produce more requests than wrk?"
Thanks for providing such a great tool for benchmarking.

What is the underlying explanation on the capability of autocannon to produce so many requests? Is that because of its internal `httpClient`? I could find that autocannon does not use the standard `http.request()` to initiate the request, why is that?

Thanks!

[2017-07-23 22:28] mcollina commented on #109
Because it uses a different concurrency model, and it supports HTTP pipelining. We use a custom HTTP client that allows us to avoid any data allocation to send a new request.

[2017-07-24 07:45] diorahman commented on #109
Thanks, @mcollina!

[2017-07-24 07:45] #109 closed

[2017-07-26 12:18] Subomi commented on #109
@mcollina this is about event loops against threads?

[2017-07-26 15:57] mcollina commented on #109
@Subomi yes, and autocannon supports HTTP/1.1 pipelining.

[2017-07-26 17:25] Subomi commented on #109
Thanks ..

[2017-08-04 03:21] binarytracer opened #110 "what triggers the error"
Im currently benchmarking an **Express App**,

benchmark.js
[code]
round 1

|   STAT   |   AVG   |   STDEV   |   MAX
|   -------   |   ------   |   ----------   |   -------
|   **Latency (ms)**   |   44.94   |   3.52   |   96
|   **Req/Sec**   |   214.29   |   24.89   |   225
|   **Bytes/Sec**   |   149 kB |   17.3 kB |   164 kB

6k requests in 28s, 4.18 MB read

----------------------

round 2

|

[2017-08-04 06:46] mcollina commented on #110
timeout: the number of seconds we wait for a response to arrive. We wait 10 by default. This is consistent with the MAX latency you are seeing, 9 seconds. Some requests go over.

errors: timeout plus other errors, like 500.

[2017-08-04 06:46] #110 closed

[2017-08-04 07:37] binarytracer commented on #110
Thanks,

knowing that kind of situation, how do i know to improve it?
Do i need to to adjust the "express application" or i need to adjust autocannon configuration?

[2017-08-04 10:41] mcollina commented on #110
The bug is in the express application.

[2017-08-04 10:49] thekemkid commented on #110
You can adjust the timeout period to be larger if you want to see what the
max delay is without a timeout. Check the readme for how to do this.
However a 10 second+ latency/response delay is probably not what you want
for your application anyway, so I would advise you to keep treating it as
an error :)

[2017-08-07 01:19] binarytracer commented on #110
thanks @thekemkid and @mcollina, :thumbsup: this npm works great.

[2017-08-07 06:14] binarytracer opened #111 "reqError callback throws nothing"
[code]
Managed to trigger some errors.

but this is what i seen on terminal

[code]
it seems in trigger the **reqError** event, but it misses the "details" of the error.

but when i adjust the config to
[code]
there is no **reqError** event emitted. :+1:

Questions

1. is the 3k concurrent connections quite suffocating to my app?
2. why the reqError event is throwing empty?
3. on connections,
`
 -

[2017-08-07 09:37] mcollina commented on #111
Currently `'reqError'` does not emit an error, see: https://github.com/mcollina/autocannon/blob/34e23d6ffd46fcc457a28eda7d05952fd0b3b33b/lib/run.js#L210-L222.

It would be good to have it, would you like to send a PR?

As to your questions:

1. very likely, you might also be creating congestion to the TCP layer of your OS and hit the total number of file descriptors and/or other limits. Check the

[2017-08-07 12:48] binarytracer commented on #111
i mean the **100 req/s**.

i think this is exciting, first time though. Ill try.

[2017-08-13 04:46] behrad opened #112 "installation error on node 8.3.0"
[code]

[2017-08-13 05:23] behrad opened #113 "Configuring for high concurrency"
How we can simulate a real world load? Where concurrent users (=connections) are high, each make 3-4 requests, close. another user...

Does this really mean 10k users each issuing 2 requests?
`autocannon -c 10000 -p 1 -d 180 -t 15 --maxConnectionRequests 2`

[2017-08-13 08:14] mcollina commented on #112
You have a broken NPM installation (permissions are wrong). You should really use https://github.com/creationix/nvm to manage your node versions and npm paths.

You should not use "sudo" in front of any npm commands.

[2017-08-13 08:14] #112 closed

[2017-08-13 08:23] mcollina commented on #113
This tool is built to generate load on your application. By using HTTP pipelining and reusing the same sockets, you can generate more load than without. It is built to prove that  your application can hold a certain level of throughput.

If you want to very the TCP stacks, OSS network configuration, and verify a more real-world scenario, I recommend to use bees-with-machineguns, or other tools. Th

[2017-08-13 08:23] #113 closed

[2017-11-30 02:31] Asher-Tan commented on #99
same problem
[code]
[code]

[code]

[2017-12-04 10:43] robcalcroft commented on #91
Im also experiencing this

[2017-12-20 10:04] hueniverse commented on #99
This is definitely a Koa issue. I am running them on two separate boxes. Koa keep spitting out this error.

[2017-12-20 10:07] mcollina commented on #99
Closing then, thanks for confirming!

[2017-12-20 10:07] #99 closed

[2017-12-21 01:05] hueniverse commented on #99
BTW, I think this issue explain why I am getting inconsistent numbers for Koa. It is the only framework of the set I am testing that is producing unstable results.

[2018-01-25 06:49] yoshuawuyts opened #115 "Running parallel benchmarks using `&` chaining does not exit correctly on Linux"
The following code leaves ghost processes running after exit on Linux:
[code]

This happens both when interrupted (`C-c`) and after finishing. Observed in both Fish shell and Bash.

[2018-01-30 17:49] mcollina commented on #91
This was fixed in version 0.17  🎉

[2018-01-30 17:49] #91 closed

[2018-01-30 17:50] mcollina commented on #70
Closing as not really needed

[2018-01-30 17:50] #70 closed

[2018-02-07 22:11] #55 closed

[2018-02-07 22:11] #56 closed

[2018-02-16 17:06] davidmarkclements opened #122 "consider reimplementing on turbo-net"
Almost the same API

https://github.com/mafintosh/turbo-net

cc @mcollina @mafintosh @thekemkid

[2018-02-20 16:21] thekemkid commented on #122
I'm happy to do this, when I open that page and it doesn't say EXPERIMENTAL AND WIP in capital letters 😆

@mafintosh would you mind pinging here when you feel this is ready for use? 👍

[2018-02-20 16:22] mafintosh commented on #122
@thekemkid it's ready enough to test if you'd get a massive perf boost using a memory stable tcp stack :)

[2018-02-20 16:25] thekemkid commented on #122
I'll play with it when I've got a bit of time then. Thanks :)

[2018-02-25 14:02] mishelen opened #124 "how to pass json?"
Hello
Im really broke my head trying to pass json to cannon. I want to send `application/json`
Let me show all cases that im try:
- `autocannon -m PUT -b "{\"playerId\":\"8797982347\" }" https://localhost:3434/player`
- `autocannon -m PUT -b '{"playerId":"8797982347" }' https://localhost:3434/player`
- ofcourse `autocannon -m PUT -b {"playerId":"8797982347" } https://localhost:3434/player`
- and m

[2018-02-25 16:03] mcollina commented on #124
which operating system are you using?

[2018-02-25 16:03] mcollina commented on #124
what error are you getting?

[2018-02-26 07:47] mishelen commented on #124
Hello)
linux 16 & no any error

[2018-02-26 09:03] mcollina commented on #124
`autocannon -m PUT -b '{"playerId":"8797982347" }' https://localhost:3434/player` work smoothly for me. So it might be something else. Can you add an http server that reproduce the problem as well?

[2018-03-07 08:21] mishelen commented on #124
this is an ordinary express server with body-parser and construction like
`const {playerId} = req.body;` what could be easier?

[2018-03-07 08:21] #124 closed

[2018-03-26 09:19] iest opened #126 "Fresh install fails with module not found error"
The culprit is `hdr-histogram-js`, I've opened an issue here: https://github.com/HdrHistogram/HdrHistogramJS/issues/8

I'd consider pinning to `v.1.0.0` of `hdr-histogram-js` until the dependancy is fixed.

Error for verbosity:
[code]

[2018-03-26 09:50] mcollina commented on #126
Fixed in v2.1.1.

[2018-03-26 09:50] #126 closed

[2018-04-05 15:03] davidmarkclements opened #127 "latency is NaN for non-2xx responses"
[code]

[code]

[2018-04-05 15:07] thekemkid commented on #127
What version are you running, and on what node version? testing locally gives

[code]

[2018-04-05 15:10] thekemkid commented on #127
Still though, we're not tracking non 2xx code latency which seems it may be undesirable in certain circumstances. It might be good to add a switch to `includeErrorLatency` in overall results

[2018-04-05 15:25] mcollina commented on #127
So, I think we are not behaving correctly here. Either we don't track req/sec and bytes/sec for non successful response, or we track all data. I think we should normalize those one way or another.

[2018-04-28 07:45] #127 closed

[2018-05-02 17:12] #111 closed

[2018-05-14 07:44] poppinlp opened #132 "[QUESTION] About the request count"
Hi. This is a real nice tool~ But i have a little question:

- The final output summary has request count such as `17k requests in 20s`. But what dose this means? Is it a count for requests who got response or just a count for sent requests?
- Dose autocannon send a batch of concurrent requests at regular intervals such as one batch per second? Seems not since the summary has a field named `Req/Se

[2018-05-14 09:03] xsbchen commented on #99
same problem，use wrk is fine

[2018-05-14 13:11] phra opened #133 "autocannon should support standard definitions of http headers"
hi,

i was using `autocannon` to stress test my web application and i find out that `autocannon` requires passing custom HTTP headers using a non standard format, specifically `-H "Content-Type=application/json"`, that is not conformant to HTTP specs and cURL usage. if you try to launch `autocannon` with the standard syntax `-H "Content-Type: application/json" it will produce malformed HTTP header

[2018-05-14 14:20] mcollina commented on #132
These are requests that got a response.

autocannon fires another request after the previous one has finished. You can easily have 853 req/sec with a 5000ms latency as this is the number of completed requests per second. How many parallel connections are you using?

[2018-05-14 15:29] #133 closed

[2018-05-15 01:42] poppinlp commented on #132
I set `-c 5000 -p 1 -d 20` to run that test.
I think i got what i want. The autocannon starts concurrent connections at a same time at the beginning. And then they are standalone, each one repeat itself after get response. I'm i right?

[2018-05-15 07:03] mcollina commented on #132
Yes this is correct.

[2018-05-15 07:03] #132 closed

[2018-06-12 15:29] wodinga opened #136 "Not reading input"
When I run autocannon from the CLI and specify an input file it doesn’t work.

I’ve also tried using the API in a node app and my app still reports an empty body

[2018-06-13 07:38] mcollina commented on #136
Can you please provide an example to reproduce along with a server example?

[2018-06-13 17:59] nairihar opened #137 "How I can see error messages"
Running 10s test @ http://localhost:3000
2000 connections

Stat         Avg      Stdev    Max
Latency (ms) 70.3     180.7    3162.21
Req/Sec      37394.86 11981.67 51351
Bytes/Sec    7.45 MB  2.41 MB  10.2 MB

262k requests in 11s, 51.8 MB read
2k errors (0 timeouts)

----------------------

Output shows I have 2k errors, I have checked nginx logs, I not see any errors.
How I can understand that p

[2018-06-13 18:52] mcollina commented on #137
I don't think you can using the command line. You can using the JS API. Maybe would you like to send a PR to add switch to display them?

[2018-06-14 05:35] davidmarkclements commented on #136
@wodinga @zerodom30 - in order to assess, a server example is needed

[2018-06-14 06:32] nairihar commented on #137
ok thanks, If I will look source code than I will send PR

[2018-06-16 14:48] zerodom30 commented on #136
@davidmarkclements @mcollina here is mock server:
[code]

`autocannon -c 10 -m 'POST' -i 'body.json' localhost:5555/content`

body.json contents:
{ "contents": "1234567" }

This can be contrast with results of a `CURL` post.

[2018-06-19 15:19] csabapalfi opened #138 "Misleading latency output"
This tool outputs latency averages and stddev which makes a lot of people assume Normal distribution that latencies usually don't have.

[code]

https://bravenewgeek.com/everything-you-know-about-latency-is-wrong
https://www.elastic.co/blog/averages-can-dangerous-use-percentile

[2018-06-19 15:42] csabapalfi commented on #138
Can we use e.g. `p50` (median) `p99` and `max` instead or similar?

[2018-06-19 16:07] thekemkid commented on #138
Check out the `-l` for this information via the command line. It's also accessible through the programmable interface.

[2018-06-19 16:37] joaojeronimo commented on #138
@thekemkid  it's not about making percentiles more prominent on the defaults view, it's that averages and stdev don't make any sense for latencies.

[2018-06-20 21:09] csabapalfi commented on #138
Would you guys accept a PR changing this behaviour to the proposed percentiles by default approach?

[2018-06-21 11:37] mcollina commented on #138
Can you please make an example? Before/altre the change you are proposing.

Il giorno mer 20 giu 2018 alle 21:09 Csaba Palfi <notifications@github.com>
ha scritto:

[2018-06-21 14:29] csabapalfi commented on #138
eg. it'd look something like this after the change

[code]

[2018-06-21 14:36] csabapalfi commented on #138
Or any other configuration you prefer. We could do `p50` (or just call that `median`) then `p95`, `p99`, `max`.

[2018-06-25 08:36] mcollina commented on #138
The output is taken from `wrk`:

[code]

I'm definitely +1 on including `p95` and `p99`.

I would still include avg, because it's relevant for req/sec and bytes/sec. So, I propose to have `avg`, `p50`, `p95`, `p99` and `max`.

Would that be ok for you?

[2018-06-25 08:47] mcollina commented on #136
You are not specifying the content-type to parse that body:

[code]

^ This works.

[2018-06-25 09:19] mcollina commented on #138
If you can send me a PR, I'll do a semver-major release asap.

[2018-06-25 09:22] greenkeeper[bot] opened #141 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-06-25 10:12] csabapalfi commented on #138
Cool, I'll try to get a PR in this week unless someone beats me to it :)

[2018-06-26 14:48] AndreasMadsen opened #143 "Inform about the number of observations"
To compute a confidence interval or determine if there is a statistical difference between two versions, at least three pieces of information is required:

* the mean
* the standard deviation (or variance)
* the number of observations, that the mean and standard deviation were sampled from.

The number of observations is not really clear from the output.

In a previous conversation @mcollina wrote

[2018-06-26 14:56] mcollina commented on #143
Every time a request is successfully completed, autocannon increases the `counter` variable by 1 in https://github.com/mcollina/autocannon/blob/master/lib/run.js#L210-L218.

Every second, the `counter` value is sampled and reset to 0 in https://github.com/mcollina/autocannon/blob/master/lib/run.js#L111-L119.

The sampled value goes in an instance of https://www.npmjs.com/package/hdr-histogram-js,

[2018-06-27 07:08] AndreasMadsen commented on #143
If the purpose is constant memory, see: See [Welford online algorithm](https://en.wikipedia.org/wiki/Algorithms_for_calculating_variance#Online_algorithm).

Hmm, this is a bit odd. Especially if nothing happened in that second. I also don't understand how it doesn't contract the your first statement "Every time a request is successfully completed, autocannon increases the counter variable by 1".

[2018-06-27 08:06] mcollina commented on #143
Is there a module you would recommend to calculate online variance, mean, min and max? It would not fix the sample issue.

Mean and standard deviance are calculated by the hdr histogram based on the recorded values (samples). As I am interested in the mean and stddev of the number of requests that happens in a second, I count the number of request in every given second and then use that value as m

[2018-06-27 11:28] AndreasMadsen commented on #143
I don't think it has been implemented in a module. But you can steel the one from `clinic-doctor`: https://github.com/nearform/node-clinic-doctor/blob/master/analysis/guess-interval.js#L118

I really like that algorithm as it is quite numerically stable, constant memory and easy to implement. Theoretically, it is not as stable as a two-pass algorithm but for most purposes it is fine. Theoretically

[2018-06-27 11:40] mcollina commented on #143
I know about the broken assumptions. However I’m not sure how to better express those.
Do you think it would be better to use percentiles instead of stddev? See https://github.com/mcollina/autocannon/issues/138.

[2018-06-27 12:19] AndreasMadsen commented on #143
I would think too hard about it, as I don't see any good solutions.

A standard deviation doesn't assume anything about the distribution, so it is not invalid in that sense. However, it is a pretty useless summary to present. Not because the data might not be normally distributed but because it says nothing on the variation/deviation of the mean on its own. At the very least, you need to also know

[2018-06-28 20:08] mcollina commented on #136
@zerodom30 would you like to send a PR to address this documentation problem?

[2018-07-03 10:48] thekemkid commented on #143
Seems like we should also make the number/frequency of observations configurable, defaulting to 1 per second.

[2018-07-05 00:06] csabapalfi commented on #138
I seem to be getting really busy for the next few weeks. Sorry about the delay.

Anyone who feels like can pick it up in the meantime.

[2018-07-05 09:13] AndreasMadsen commented on #143
That would be great for statistical significance. Just remember to scale the output unit so it remains `n/s`.

[2018-07-19 10:10] mcollina opened #146 "Better support clinic and 0x integration"
We should be able to run:

[code]

The `--on-port` on 0x adds a `PORT` env variable, and we can assume `localhost` as the address.
It should error if the `PORT` env variable is not available.

[2018-07-20 10:53] #146 closed

[2018-08-07 19:42] gajus opened #150 "Add a way to make requests through a proxy"
I was going to try to use autocannon to stress test a HTTP proxy. But there appears to be no way to configure [agent](https://nodejs.org/api/http.html#http_class_http_agent), which would allow use with https://www.npmjs.com/package/http-proxy-agent.

[2018-08-08 07:04] mcollina commented on #150
Autocannon is not based on the agent model, nor it support HTTP proxies. I’ll be happy to review a PR if it does not affect throughput when disabled.

[2018-08-08 09:14] alienspaces opened #151 "Question: result.requests.total versus result.requests.sent"
Hi there,

When looking at the result object the requests object has a total and a sent property.

What is the difference?

If I set maxOverallRequests the total property will end up equalling that however the sent is always more.

Regards,

Ben

[2018-08-08 11:41] gajus commented on #150
No worries. I ended up using wrk for the purpose.

https://github.com/wg/wrk/issues/162

[2018-08-08 11:41] #150 closed

[2018-08-08 17:36] mcollina commented on #151
We stop _after_ we receive X requests while it would have sent more. Having them being equal would be a good refactoring, but if you like a challenge feel free to send a PR.

[2018-08-12 21:27] amorriscode commented on #136
This PR was closed by #149. 👍

[2018-08-12 21:43] #136 closed

[2018-08-18 09:39] nejc001 opened #153 "All responses are non 2xx with method POST in Hapi.js"
I made same post in hapi/disscuss (https://github.com/hapijs/discuss/issues/705) repository, since this only apeared with Hapi framework. But then i realized that with GET method it works fine, but POST fails.
I added header property in the call and the problem still persists.

![hapierr2](https://user-images.githubusercontent.com/11994606/44297996-3d03d900-a2db-11e8-975e-5417ab49cf3a.PNG)

[2018-08-18 10:16] mcollina commented on #153
Have you tried with curl? Does it work?
Can you please add the source code of your test server? Have you checked your Hapi logs?

[2018-08-18 10:36] nejc001 commented on #153
Tried with Postman and the response works as it should with 200 status.

Hapi server is basic:
![hapi err server](https://user-images.githubusercontent.com/11994606/44298419-1184ec80-a2e3-11e8-87f9-cf0282e09b5a.PNG)

Hapi logs are spammed with:
`{"level":40,"time":1534587852721,"pid":1740,"hostname":"Nejc-PC","err":{"type":"Error","message":"read ECONNRESET","stack":"Error: read ECONNRESET\n    at

[2018-08-18 11:15] mcollina commented on #153
I think It’s a problem with http keep-alive. Considering all other frameworks and node core works with it, I’m leaning towards thinking it’s an Hapi bug or some  configuration (here or in your code).

[2018-08-20 08:56] mcollina commented on #153
The following works fine against a simple server defining a POST:

[code]

Please provide some example code/project to reproduce this issue.

[2018-08-20 11:53] nejc001 commented on #153
Project: https://github.com/nejc001/hapi-autocannon-test

![hapi full test error](https://user-images.githubusercontent.com/11994606/44338601-ad972b00-a47e-11e8-90ed-3fa59573bd88.PNG)

Node.js v8.11.1
Autocannon v2.4.1
Hapi v17.5.2

Please confirm if this also happens to you.

[2018-08-20 12:12] mcollina commented on #153
Works perfectly here (Mac OS X), can you please try adding the autocannon command as a npm script? From your screenshot it seems the outer `}`  is missing.

If you have access to a Linux VM, can you please confirm if you see the same problem there? Can you also confirm that there are not a) docker container runnning  and b) other Node.js processes running?

Can you please use IP addresses instead?

[2018-08-20 14:46] nejc001 commented on #153
Command was correct, just hidden on the screen.
No access to Linux VM and have no docker or other Node.js processes running.

On left is Express server generated with express-generator package (port 3000).
On right is this Hapi server (port 3010).
![hapi-express autocannon](https://user-images.githubusercontent.com/11994606/44347244-97499900-a497-11e8-9160-ab6ba6acc41d.PNG)

I will test this on di

[2018-08-23 05:51] nejc001 commented on #153
On 2 different laptops with same project, as on images above, on Windows 10 i get the same issue.
Before i was running it on Windows 7.

Here i did a curl call of the server with (with -v and -i) and the same call with autocannon:
![zajeta slika](https://user-images.githubusercontent.com/11994606/44506996-28dc2500-a6a9-11e8-94f0-7f83579a9b75.PNG)

[2018-09-03 14:58] mcollina commented on #153
It works smoothly with

`autocannon -c 10 -H "Content-Type: application/json" -m POST -b "{ \"hello\": \"world\" }'" http://127.0.0.1:3000`

on my Windows machine.

I've submitted #157 which will avoid the messy `'` behavior.

[2018-09-04 19:22] greenkeeper[bot] opened #159 "An in-range update of table is breaking the build 🚨"
## Version **5.0.2** of **table** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/mcollina/autocannon/compare/master...mcollina:greenkeeper%2Ftable-5.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/gajus/table>table</a>

[2018-09-19 16:11] mrbatista opened #160 "Request multipart/form-data"
Does the tool support requests with multipart/form-data?

[2018-09-19 16:27] mcollina commented on #160
You would need to encode that manually, using something like https://www.npmjs.com/package/form-data. It would be fantastic to add the capability of doing this to autocannon itself.

[2018-09-21 21:37] honestserpent opened #161 "Does autocannon use the same connection for multiple requests?"
I am trying to play around with Node.js sever.maxConnections parameter.

I've noticed that if I change the number of `maxConnections` while I am running autocannon, it doesn't look like it is affected. For instance, if I initially set `maxConnections=10` and run `autocannon -c 9 -d 10 localhost:3000`, the result is the following:

[code]

If I run autocannon again, but I lower the maximum number o

[2018-09-22 07:07] mcollina commented on #161
As you can [see](https://github.com/nodejs/node/blob/2b29df71ebc07cea87e14ed7f2d93e78f8b04b3c/lib/net.js#L1495-L1509), the check is enforced only on new connections.

[2018-09-22 07:07] #161 closed

[2018-09-22 07:12] honestserpent commented on #161
Thank you, I didn't know where to look in Node.js code. Very clear

[2018-09-29 14:47] Tuizi opened #162 "host header cannot be overriden"
I am trying to set the 'host' header, but autocannon always seems to override it.
This request: `autocannon http://localhost:3000/settings -H host=bing -H hostname=google`

[code]

As you can see the `host` header is set to `localhost:3000` instead of `bing`. As a comparaison it's possible to override the `host` header with Postman.

[2018-09-29 16:52] mcollina commented on #162
Would you like to send a PR to add this feature?

[2018-09-30 00:58] Tuizi commented on #162
Currently doing the PR with the fix but the tests are failing. Even when I checkout your repo and run tests on the master branch

[code]

Any idea?

[2018-09-30 08:08] mcollina commented on #162
Are you on Windows perhaps? Tests are passing on Travis (Linux) and on Mac.

Il giorno dom 30 set 2018 alle 02:58 Fabien Rogeret <
notifications@github.com> ha scritto:

[2018-09-30 14:50] Tuizi commented on #162
I am on Mac Hight Sierra. Which version of NodeJS and NPM are you using?

[2018-09-30 14:56] Tuizi commented on #162
@mcollina https://github.com/mcollina/autocannon/pull/164

[2018-10-07 11:09] StarpTech opened #165 "How to pass JSON body in npm script"
This is not related to autoncannon but it blocks me to use the cli. Running the command in the cli directly works like a charm.
[code]
will always result in a body
[code]

[2018-10-07 12:39] StarpTech commented on #165
This is weird.

Could you make an example? I tried all ways.

This will fail as well and result in a body

[code]

[2018-10-07 12:40] StarpTech commented on #165
I got it this works 😄

[code]

[2018-10-07 12:40] #165 closed

[2018-10-16 14:13] jimmywarting opened #169 "Use native Object.assign instead of xtend"
[xtend](https://github.com/Raynos/xtend) can easily be replaced with [Object.assign](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign)

[code]

[2018-10-16 14:29] mcollina commented on #169
Can you please send a PR?

Il giorno mar 16 ott 2018 alle 16:21 Steven <notifications@github.com> ha
scritto:

[2018-10-16 14:30] thekemkid commented on #169
We should do it. When we wrote

[2018-10-16 14:33] thekemkid commented on #162
Fixed by #164

[2018-10-16 14:33] #162 closed

[2018-10-16 14:34] thekemkid commented on #160
@mrbatista Would this be something you would be interested in adding support for as a PR?

[2018-10-18 14:29] gleb-s commented on #133
With fix applied I have an issue now, when my content-type is complex and looks like this: `content-type: application/json;odata=verbose`.
So, according to the logics from [this commit](https://github.com/phra/autocannon/commit/532349fb2318becacf73041604f6dea91394b36d#diff-b8cd744f56f8425866b8960637fe3f3bR96), I suppose, that my server is getting header like this:
`content-type: application/json;o

[2018-10-19 12:17] gleb-s opened #170 "Bug, when http header has complex format"
There is an issue, when my content-type is complex and looks like this: `content-type: application/json;odata=verbose`.

So, according to the logics from [this commit](https://github.com/phra/autocannon/commit/532349fb2318becacf73041604f6dea91394b36d#diff-b8cd744f56f8425866b8960637fe3f3bR96), I suppose, that my server is getting header like this:
`content-type: application/json;odata: verbose` - t

[2018-10-19 15:21] phra commented on #170
hi @gleb-s

according to my commit only the first occurrence of `=` is matched using [indexOf](https://developer.mozilla.org/it/docs/Web/JavaScript/Reference/Global_Objects/Array/indexOf) so I'm not sure about your supposition.

[2018-10-19 17:46] phra commented on #170
hi @gleb-s

i made https://github.com/mcollina/autocannon/pull/171 in order to fix your issue.
i have also added the required unit tests to prevent this from happening in the future.
thanks for reporting it.

/cc @mcollina

[2018-10-22 14:02] #170 closed

[2018-10-25 09:45] thekemkid commented on #169
Closed via #173

[2018-10-25 09:45] #169 closed

[2018-10-25 13:27] AndreaFranchini opened #174 "Request delay"
Example:
[code]

Autocannon will perform 1 req/sec for 2 seconds.

[code]

Autocannon will perform 2 req/sec for 2 seconds. But the requests are fired during the very firsts milliseconds.

How can i setup autocannon for fire request every x milliseconds?

[2018-10-25 13:37] mcollina commented on #174
I don't understand. Autocannon _waits_ for the previous request to finish before starting the new one.

[2018-10-25 14:15] AndreaFranchini commented on #174
Using other words: can i fire request with an omogeneous/costant distribution?
I want to setup a scenario where the request are sended at same rate during the test duration.

If i set 50 request per second and i draw a graph of number of request over time, i get an "heartbeat": 50 request in 100ms then 900ms of nothing, repeated during time.
What I would like is a graph that is ideally an horizont

[2018-10-25 14:23] mcollina commented on #174
Autocannon currently does not support that feature, but feel free to send a PR if you would like to work on it!

[2018-10-31 04:13] txchen commented on #99
I got same problem, autocannon -> fastify

[2018-11-18 09:54] StarpTech opened #176 "Dependency 'on-net-listen' requires node >=9.4.0 || ^8.9.4 but autoncannon supports all"
As titled.

Here from the build with Node 6

[code]
Hosted in `autocannon`
[code]

[2018-11-26 08:19] Youjingyu opened #177 "Cannot read property 'tick' of undefined"
when i use `autocannon` with the following command:
[code]
throw error:
[code]
When I comment this line, it was fine:
[code]

[2018-11-26 08:21] mcollina commented on #177
which version of Node/Operating System are you using?

[2018-11-26 08:22] mcollina commented on #177
Can you upload an example server that reproduces the behavior?

[2018-11-26 08:55] Youjingyu commented on #177
@mcollina
Node: v8.10.0
Operating System: macos high sierra 10.13.6
autocannon: v3.1.0
an example server that reproduces the behavior: https://github.com/Youjingyu/test-autocannon

[2018-11-28 02:32] Youjingyu commented on #177
thanks, it was fixed [#178](https://github.com/mcollina/autocannon/pull/178)

[2018-11-29 06:53] #177 closed

[2018-12-01 09:53] mcollina opened #180 "assume --on-port if there is '-- node server.js'"
Currently we have to do:

[code]

However it would be more usable/friendly if we did

[code]

We can basically assume `--on-port` if there is `-- node`.

[2018-12-05 17:13] greenkeeper[bot] opened #181 "An in-range update of progress is breaking the build 🚨"
## The dependency [progress](https://github.com/visionmedia/node-progress) was updated from `2.0.2` to `2.0.3`.

🚨 [View failing branch](https://github.com/mcollina/autocannon/compare/master...mcollina:greenkeeper%2Fprogress-2.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

progress is a direct dependency of this pro

[2018-12-05 17:17] mcollina commented on #181
Flaky CI.

[2018-12-05 17:17] #181 closed

[2019-01-10 21:25] brandonros opened #184 "ECONNRESET"
Benchmark:

[code]

against server

[code]

Me and two of my teammates all get a ton of ECONNRESET mixed in with success... Why/how?

[2019-01-11 08:54] mcollina commented on #184
You are bombing Google, so you _might_ get some ECONNRESET because of that.

Have you got a full stack trace? What is throwing ECONNRESET?

[2019-01-11 10:58] thekemkid commented on #184
Google is _probably_ rate limiting your IP, can you reproduce against your own servers?

[2019-01-11 15:05] brandonros commented on #184
I switched to loadtest instead and have zero issues. I tried with non-Google URLs and the issue still occurred.

[2019-01-11 15:10] mcollina commented on #184
Have you got a full stack trace? What is throwing ECONNRESET?

[2019-01-11 16:05] brandonros commented on #184
Adding longjohn did not increase the stack trace. How can I get a full strack trace for you?

Are you not able to recreate the issue locally?

[2019-01-11 16:13] mcollina commented on #184
You never posted a stacktrace, only an error code. You didn't say if it was autocannon erroring or the express app.

I did not try the code yet.

[2019-01-11 16:15] brandonros commented on #184
It's autocannon throwing the errors.

[2019-01-17 12:13] mcollina opened #185 "Session recording / HAR support"
As titled!

[2019-01-27 14:12] vjpr opened #186 "Add promise api"

[2019-01-27 14:37] mcollina commented on #186
Would you like to help and send a PR?

[2019-01-29 10:52] hiepph commented on #160
Hi @mcollina can you show me an example of how to encode using `form-data`. For instance, I want to parse a body `multipart/form-data` with key `image` and value is a local image file.

[2019-01-29 11:01] mcollina commented on #160
Unfortunately I don't have much time. The readme of form-data has a lot of examples: https://www.npmjs.com/package/form-data.

[2019-02-10 01:51] AndreyNikiforov opened #187 "Rate Limiting is not Working"
autocannon v3.2.0
node v10.13.0

Running 10s test @ http://localhost:8080
10 connections

│ Stat    │ 2.5% │ 50%  │ 97.5% │ 99%  │ Avg    │ Stdev    │ Max        │
├─────────┼──────┼──────┼───────┼──────┼────────┼──────────┼────────────┤
│ Latency │ 0 ms │ 1 ms │ 4 ms  │ 5 ms │ 2.2 ms │ 26.18 ms │ 1009.48 ms │
└─────────┴──────┴──────┴───────┴──────┴────────┴──────────┴────────────┘
┌───────────┬─

[2019-02-10 08:30] mcollina commented on #187
It’s likely the case. Would you like to fix it & send a pull request?

[2019-02-14 00:52] mflores-verys opened #188 "native-hdr-histogram prevents installation on Node.js 10.14.2"
## Expected behavior

`autocannon` can be a dependency in projects and installed while using Node v10.14.2.

## Actual behavior

When running `yarn install` in a project with `autocannon` as a dependency, the following error occurs:
[code]

Upon investigating why this module is in the dependency tree, I see that it is from `autocannon`. Not sure if it's possible to offer a pre-compiled version app

[2019-02-14 11:50] mcollina commented on #188
You should update your version of autocannon. We have dropped the native dependency long ago.

[2019-02-14 11:50] #188 closed

[2019-02-14 16:59] mflores-verys commented on #188
@mcollina I was in a multi-repo context and just caught that one of them is using a very old version of `autocannon` 🤕 Thank you!

[2019-03-08 17:33] KayHS opened #190 "API Testing E2E"
How do i pass a variable from one request to another request. I need to load test a chain of api endpoints that rely on a previous request response for its params.

[2019-03-08 17:40] mcollina commented on #190
You can use https://github.com/mcollina/autocannon/blob/master/samples/modifying-request.js.

[2019-03-09 13:50] KKHAN1991 commented on #190
@mcollina do i create a new auto cannon instance for each request?

[2019-03-09 14:30] mcollina commented on #190
no. you just call set* methods between requests.

[2019-03-09 18:03] KKHAN1991 commented on #190
@mcollina

Sorry i don't quite understand what you are suggesting to me do.

Please let me show you some code of what im trying to achieve, because i had it is something simple i can be shown once and then i would know how to do it for further requests i need to make/modify.

[code]

The first is a request to an /auth endpoint to retrieve a bearer token. I want to pass that bearer token into the s

[2019-03-10 09:54] mcollina commented on #190
You will need to use https://github.com/mcollina/autocannon/blob/master/README.md#client-api to modify the request, ad showed in the example above.

[2019-03-11 19:36] krainboltgreene commented on #185
Is it maybe worth doing this as a tool that wraps around autocannon?

[2019-03-11 21:55] mcollina commented on #185
that’s also ok! I’d be happy to add a link!

[2019-03-29 22:54] CharlieTheProgrammer opened #192 "Infinite Loop"
The following code runs infinitely for some reason. Changing 'connections' to 1, resolves the issue.

[code]

[2019-03-30 09:20] mcollina commented on #192
Good spot! Would you like to send a PR?

That combination of options is actually invalid, it would need to throw.

You cannot have amount < connections. Essentially we keep decreasing a counter waiting for a condition to trigger but that’s already in the past.

[2019-04-18 21:32] frankorama opened #194 "Problem running 2 autocannons in parallel when using setupClient()"
I have 2 files each running autocannon inside a promise.  Each file calls a different api end-point.

When I call the autocannon() method to create an instance I set the initial values of the header and body, and then change the values in an  `instance.on('response', handleResponse) method`.

Both files can run in parallel and everything works fine.

However, when I try to set the initial client h

[2019-04-18 21:40] mcollina commented on #194
This sounds like a bug. Would you like to send a PR?

[2019-04-24 18:29] greenkeeper[bot] opened #195 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.6.3` to `12.6.4`.

🚨 [View failing branch](https://github.com/mcollina/autocannon/compare/master...mcollina:greenkeeper%2Ftap-12.6.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not bre

[2019-04-26 07:29] msantagata opened #197 "Typo in autocannon.track() description"
Hi,
just wanted to point out that there's a typo in the autocannon.track() documentation: the parameter should be `renderResultsTable` and not `renderResultTable` (note the additional "s").
Thanks!

[2019-04-26 07:43] mcollina commented on #197
Would you mind opening a PR?

Il giorno ven 26 apr 2019 alle 14:29 msantagata <notifications@github.com>
ha scritto:

[2019-04-26 08:18] msantagata commented on #197
Sure! I just did.

[2019-04-30 08:36] xulayen opened #199 "How can i set cookie?"
How can i set cookie?

[2019-04-30 08:48] mcollina commented on #199
HTTP cookies are just HTTP headers. You can just set one in that way.

[2019-04-30 08:48] #199 closed

[2019-05-16 16:17] thekemkid opened #201 "Add support for dithering and fixed wait times between requests"
This would need to be specified as a range for dithering effects and a fixed number for fixed waits.

Dithering would mean waiting a random amount time within the range specified to make the next request.

Fixed waits is waiting a fixed amount time between requests.

The use case is to add "down" times between requests. This is useful to generate more "real-world" like usage.

[2019-05-16 16:19] GlenTiki opened #202 "Add support for a warmup interval before sampling"
This would mean that requests made in the first x amount of time during the warmup interval are not sampled. This should allow the server being tested to stabilise with the traffic from autocannon before sampling its load capabilities.

[2019-05-16 16:26] thekemkid commented on #197
Closed via #198

[2019-05-16 16:26] #197 closed

[2019-05-16 16:28] thekemkid commented on #192
Closed via #193

[2019-05-16 16:28] #192 closed

[2019-05-17 16:35] thekemkid commented on #184
Closing due to inactivity

[2019-05-17 16:35] #184 closed

[2019-05-17 16:40] thekemkid commented on #138
Closing this as it has been fixed in new versions.

[2019-05-17 16:40] #138 closed

[2019-05-17 16:41] thekemkid commented on #187
Fixed in #191 I believe

[2019-05-17 16:41] #187 closed

[2019-05-17 22:14] #141 closed

[2019-05-20 10:52] #159 closed

[2019-05-20 10:53] #195 closed

[2019-05-22 10:36] banyudu commented on #186
Should the promise API introduce breaking changes or just add new export member?

Is this ok?

[code]

[2019-05-22 13:33] mcollina commented on #186
I would prefer a case where `run` returns a promise if a callback is not specified.

[2019-05-23 12:33] banyudu commented on #186
Did you mean

[code]
?

It's a break change, though

[2019-05-23 12:37] mcollina commented on #186
No.

[code]

[2019-05-23 12:47] banyudu commented on #186
Thanks for your reply.

Besides `require('util').promisify` which requires node v8, there's another breaking change:
`run` returns an EventEmitter named `tracker`, so it's a breaking change if just return a promise instead.

Test cases like
[code]
will fail.

[2019-05-23 13:06] mcollina commented on #186
I think the best way to solve this then is to make tracker a thenable. Essentially you can add the following method https://developer.mozilla.org/it/docs/Web/JavaScript/Reference/Global_Objects/Promise/then#Syntax to Tracker. Then you'll be able to `await` it.

[2019-05-23 14:39] banyudu commented on #186
Good idea, impressive!

[2019-06-17 10:55] karpotkin commented on #194
Same issue. The more connections, the more net the module creates simultaneous requests at one time. For example, I want to create 4 connections. The first 3 connections will be sent by 1 request, and 4 connections will send 4 requests at once.

[2019-06-17 10:57] mcollina commented on #194
@karpotkin would you like to send a PR?

[2019-06-17 15:54] karpotkin commented on #194
@mcollina, ok, I will try

[2019-06-18 10:37] mcollina commented on #194
Fixed in #206.

[2019-06-18 10:37] #194 closed

[2019-07-10 05:16] mzavaletavargas commented on #137
Hello! Any update on this?

[2019-07-17 00:35] greenkeeper[bot] opened #210 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `14.4.1` to `14.4.2`.

🚨 [View failing branch](https://github.com/mcollina/autocannon/compare/master...mcollina:greenkeeper%2Ftap-14.4.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not bre

[2019-08-17 13:35] kachkaev opened #213 "Supporting Basic HTTP auth in URL"
Hi 👋

I have a staging server, which is protected with [basic HTTP authentication](https://en.wikipedia.org/wiki/Basic_access_authentication) to avoid accidental indexing by search engines. For manual testing, I simply enter login and password in the browser and for tools like [HTTPie](https://httpie.org/) or [Lighthouse](https://developers.google.com/web/tools/lighthouse/) I prepend my login and

[2019-08-17 16:10] mcollina commented on #213
Yes, definitely! Would you like to send a PR?

Il giorno sab 17 ago 2019 alle 15:35 Alexander Kachkaev <
notifications@github.com> ha scritto:

[2019-08-17 21:08] kachkaev commented on #213
Hi @mcollina 👋

I'm not sure I'll have capacity to do this at least in the next few weeks. If you or anyone else is interested in making a PR, feel free to! 🙌

[2019-08-19 13:21] tobiasmuehl opened #214 "Req/sec is not 0 when 0 requests succeed"
[code]

Minimum Req/Sec should be 0 too

[2019-08-19 13:36] mcollina commented on #214
True, would you like to send a PR?

[2019-09-16 07:32] #214 closed

[2019-09-29 14:22] guiOLVR commented on #153
i have the same problem, but i used fastify in windows 10.

I try run this:
`autocannon -c 10 -H "Content-Type: application/json" -m POST -b "{ \"username\": \"test\",\"password\": \"123\" }'" http://127.0.0.1:3000/user/login`

0 2xx responses, 56618 non 2xx responses
57k requests in 11.05s, 28.2 MB read

what is wrong?

[2019-09-29 14:59] thekemkid commented on #153
@guiOLVR What version are you running now?

[2019-09-29 18:38] guiOLVR commented on #153
autocannon v4.1.1
node v10.15.3

[2019-10-01 15:08] dnlup commented on #160
Here's an example I have used, I hope it can be useful:
[code]

[2019-10-03 10:37] dnlup commented on #160
@mcollina @thekemkid What would be the best way to expose form-data submitting?

I was thinking exposing a separate option like:
[code]
that could be read also from file.

[2019-10-03 11:17] mcollina commented on #160
That works

[2019-10-15 10:00] amit12cool opened #221 "Use in Typescript"
How can i import autocannon in Typescript?

Below doesn't work:-

import * as autocannon from 'autocannon'
import autocannon from 'autocannon'
const autocannon = import('autocannon')

[2019-10-15 10:19] mcollina commented on #221
I've never used this in Typescript. It would be good to have a PR with typings!

[2019-10-15 10:21] amit12cool commented on #221
I got the type definitions here
// Type definitions for autocannon 4.1
// Project: https://github.com/mcollina/autocannon#readme
// Definitions by: Jeremy Bensimon <https://github.com/jeremyben>
// Definitions: https://github.com/DefinitelyTyped/DefinitelyTyped
// TypeScript Version: 2.1

Checkout
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/autocannon/autocannon-tests.ts

[2019-10-15 10:50] davidmarkclements commented on #221
that's an incorrect import statement I think

[code]

[2019-10-15 10:50] #221 closed

[2019-10-15 10:51] amit12cool commented on #221
Yes, that’s incorrect. But im not sure what is correct then.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: David Mark Clements <notifications@github.com>
Sent: Tuesday, October 15, 2019 4:20:43 PM
To: mcollina/autocannon <autocannon@noreply.github.com>
Cc: amit12cool <amit.dhawan@outlook.com>; Author <author@noreply.github.co

[2019-10-15 10:53] davidmarkclements commented on #221
no.. the correct form is:

import autocannon from 'autocannon'

On Tue, Oct 15, 2019 at 12:51 PM amit12cool <notifications@github.com>
wrote:

[2019-10-15 10:53] amit12cool commented on #221
The error is below:-

import autocannon from 'autocannon';
       ^^^^^^^^^^

SyntaxError: Unexpected identifier
    at Module._compile (internal/modules/cjs/loader.js:723:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:789:10)
    at Module.load (internal/modules/cjs/loader.js:653:32)
    at tryModuleLoad (internal/modules/cjs/loader.js:593:12)
    at Function.Module._loa

[2019-10-15 10:56] davidmarkclements commented on #221
that error stack suggests you're trying to run typescript directly with
node, you need to use typescript tooling to use typescript.

On Tue, Oct 15, 2019 at 12:54 PM amit12cool <notifications@github.com>
wrote:

[2019-10-15 10:57] amit12cool commented on #221
Correct. Thanks Just got that working.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: David Mark Clements <notifications@github.com>
Sent: Tuesday, October 15, 2019 4:26:50 PM
To: mcollina/autocannon <autocannon@noreply.github.com>
Cc: amit12cool <amit.dhawan@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [mcoll

[2019-11-02 09:29] #213 closed

[2019-11-07 14:10] tverilytt commented on #160
I wanted to run autocannon from the comnand-line with form file upload.
Ended up with something like this for GET / POST / DELETE of file.

'use strict'

const argv = require('minimist')(process.argv.slice(2));
const fs = require('fs');
const autocannon = require('autocannon');
const FormData = require('form-data');

let form;
if (argv.method === 'POST') {
  form = new FormData();
  form.append('f

[2019-11-09 09:23] mcollina opened #227 "Migrate CI to github actions"
As titled, then we can condense both AppVeyor and Travis in a single run

[2019-11-09 09:42] mcollina commented on #210
This was a flaky build

[2019-11-09 09:42] #210 closed

[2019-11-09 09:43] mcollina commented on #160
Support for form-data has been released as per v4.4.0. Check it out!

[2019-11-09 09:43] #160 closed

[2019-11-18 23:07] mmarchini opened #228 "`--amount` is not precise with high concurrency"
Example server (modified from restify/benchmarks):

[code]

Running npx against the server above with `-a 1000000` and with the same parameters used on restify/benchmarks:

[code]

`autocannon` reports `999k` requests (instead of `1000k`), and when we stop the server it reports `999969` requests (instead of 1000000). With `-c 1` and `-p 1` the server will reply to 1000000 requests correctly.

This

[2019-11-18 23:09] mcollina commented on #228
Would you like to send a PR to fix it? Likely it’s a bug ;)
Il 19 nov 2019, 00:07 +0100, Matheus Marchini <notifications@github.com>, ha scritto:

[2019-11-19 03:46] mmarchini commented on #228
I'll try to send a PR to fix it

[2019-11-19 12:27] JerryCauser opened #229 "Autocannon sends two extra bytes at the end of the body, breaking the protocol"
I've tested [uWS](https://github.com/uNetworking/uWebSockets.js) HTTP server and passed little body in every http request. It produced strange results.
I asked (https://github.com/uNetworking/uWebSockets.js/issues/228) creator of uWS why it happens and he researched what _"autocannon sends two extra bytes at the end of the body, breaking the protocol.  uWebSockets does not close the connection imm

[2019-11-19 12:32] mcollina commented on #229
I'll be happy to take a PR. I'm pretty convinced the current code is ok - but we'll see.

[2019-11-20 15:24] alexhultman commented on #229
You can clearly see in Wireshark that autocannon sends invalid HTTP in the case of post. It sends Content-length: 7 followed by 7 bytes of content followed by 2 invalid bytes, breaking the protocol, causing the connection to eventually fail

It works just fine in wrk, https://github.com/wg/wrk as that client actually follows HTTP.

The protocol is like this:

header: value rn
header: value rn
rnrn

[2019-11-20 15:32] alexhultman commented on #229
![Screenshot from 2019-11-20 16-30-53](https://user-images.githubusercontent.com/3397140/69252442-47cead00-0bb3-11ea-8a88-14278c60a099.png)

[2019-11-20 15:34] mcollina commented on #229
I’m happy to take a PR, I’m currently swamped.
Il 20 nov 2019, 16:32 +0100, Alex Hultman <notifications@github.com>, ha scritto:

[2019-11-20 15:54] thekemkid commented on #229
Oh, it looks like you're correct. Thanks for investigating. We add those
/r/n for simpler logic for pipelining reasons, I think. I don't think we
realised it was invalid. I'll put together a fix.

Thanks again!

On Wed 20 Nov 2019, 3:34 p.m. Matteo Collina, <notifications@github.com>
wrote:

[2019-11-22 13:38] kyegupov commented on #137
@mcollina you said "You can using the JS API." - can you perhaps divulge how exactly would one do that via the JS API?

[2019-11-22 18:06] mcollina commented on #137
You need to listen to the `reqError` event in https://github.com/mcollina/autocannon#autocannon-events.

[2019-11-22 18:07] mcollina commented on #137
Note that his is likely implemented in https://github.com/mcollina/autocannon/pull/217.

[2019-11-26 00:15] greenkeeper[bot] opened #230 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `14.10.1` to `14.10.2`.

🚨 [View failing branch](https://github.com/mcollina/autocannon/compare/master...mcollina:greenkeeper%2Ftap-14.10.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not

[2019-11-29 07:59] #229 closed

[2019-11-29 15:04] LinusU opened #232 "Verbose option or another way to see sent request"
I'm trying to run AutoCannon on an authenticated route. For some reason my curl call succeeds, but AutoCannon reports every request as failed.

[code]

I would to just be able to see the outgoing request to find out what is going wrong!

e.g. `curl` has a `-v` flag which makes it prints out every header and the body when sending, and then the same for the returned response. Obviously it wouldn't m

[2019-11-29 15:16] mcollina commented on #232
I think it would be pretty handy. Would you like to send a PR?

[2019-11-29 15:32] LinusU commented on #232
Would love to! Unfortunately I'm out traveling now so I don't think that I'll have time in the short future though ☺️

I found out the error btw. I had to add `--servername` otherwise it wouldn't do SNI with the server. Is there a reason why this flag doesn't default to the server name from the parsed url? (should I open another issue about this?)

[2019-11-29 15:34] mcollina commented on #232
you should likely open a separate issue, ideally with some example code to
reproduce.

Il giorno ven 29 nov 2019 alle ore 16:32 Linus Unnebäck <
notifications@github.com> ha scritto:

[2019-11-29 15:42] LinusU commented on #232
Will do, didn't know if it was intended behaviour or not 👍

[2019-11-29 15:49] LinusU opened #233 "SNI doesn't work without config"
Trying to benchmark against a service running behind API Gateway + Lambda on Amazon resulted in the connection not working (#232). Turns out that the SNI negotiation didn't work, and passing `--servername myhost.com` (not actual hostname) fixed it.

Since it wasn't my personal server I'm hesitant to give out the URL, but I think it should be easy to test against any server that requires SNI in ord

[2019-12-02 08:36] #137 closed

[2019-12-03 10:54] tiendq opened #234 "[Question] What's alert handshake failure error with https websites?"
I think it's not `autocannon` issue but these websites' but I just don't know why. These websites are working well and google didn't help :(

`autocannon https://www.google.com.vn` works well, no error at all.

But when I tested below websites, both are NodeJS apps, I just got tons of same errors:

[code]

Error:

[code]

### envinfo
[code]

[2019-12-03 11:02] mcollina commented on #234
I think we are not passing the correct header for some website to work, you might add an header.

See https://github.com/openssl/openssl/issues/7147#issuecomment-419621673 for details

[2019-12-04 03:42] tiendq commented on #234
Thanks for your link, I figured it out and below command worked well :)

`autocannon -s cryptobadge.app https://cryptobadge.app`

[2019-12-04 03:42] #234 closed

[2019-12-05 15:59] LinusU commented on #234
See #233, this should probably happen automatically

[2019-12-11 12:52] catalin-me opened #235 "Add support for pattern load testing scenarios"
## Description

This issue proposes adding advanced testing scenario features to Autocannon that include the possibility of running configurable load tests that support ramp-up, spike and cooldown behaviours.

## Proposed Solution

This proposal introduces 3 new configuration properties that would allow configuring such behaviour:

- `rampUp`
- `spike`
- `coolDown`

Each new configuration property

[2019-12-11 12:56] mcollina commented on #235
Could you please clarify what "spike" behavior would be?

Feel free to send the PR anyway.

[2019-12-23 21:35] tlhunter opened #236 "The `Accept-Encoding` header is dropped"
If I run the following command:

[code]

A header named `Accept-Foo` is passed to the server. However, if I run the following command:

[code]

No headers are passed to the server.

[2019-12-23 21:39] tlhunter commented on #236
Sorry, I had a misbehaving reverse proxy in the middle!

[2019-12-23 21:39] #236 closed

[2020-01-14 21:28] sam-github opened #238 "http header values are trimmed instead of used verbatim"
It would be useful to be able to specify header values with exact whitespace, like `-H 'field= some value with ows    '`, but they appear to be [trimmed](https://github.com/mcollina/autocannon/blob/7c55bd7d862e62d5090ebe7c9ad7502dfb8b8003/autocannon.js#L145), I'm not sure why.

[2020-01-14 22:27] mcollina commented on #238
I think I did it that way because devs are messy. I'm happy to change that if you'd like to send a PR.

[2020-01-23 00:36] kim0 commented on #160
Thanks @mcollina for allowing form-data 👍 I'm facing a problem where the resulting form looks like
`Content-Disposition: form-data; name="foo"`
For it to be considered a real file upload, it is missing the `;filename=bar` attribute. How can I add that to the result ?

[2020-01-23 06:25] dnlup commented on #160
Hi @kim0, it should have been injected here:

https://github.com/mcollina/autocannon/blob/7c55bd7d862e62d5090ebe7c9ad7502dfb8b8003/lib/run.js#L116

by `form-data`. Can you share the command you ran?

[2020-01-23 08:10] mcollina commented on #160
I would recommend to open new issues for bug reports.

[2020-01-23 08:31] kim0 commented on #160
@dnlup I am trying to use it as a library, so the relevant line is
[code]

I added this `filename` field, while trying to convince it to be sent as part of the reply. But it still doesn't show. If you can add an example in JS it would be great.

[2020-01-24 12:07] dnlup commented on #160
@kim0 After some investigation I found that when the buffer is passed to `form-data` `.append` method, a `filepath/name` should be explicitly passed (because a Buffer is passed) in order to get the `filename` on the server:

*  https://github.com/mcollina/autocannon/blob/7c55bd7d862e62d5090ebe7c9ad7502dfb8b8003/lib/multipart.js#L33

See https://www.npmjs.com/package/form-data#void-append-string-fi

[2020-01-24 19:20] kim0 opened #240 "Allow specifying a filename when uploading a file through form"
# Goal
What I'm trying to achieve is. I would like to benchmark an internal file uploading service. I want to use autocannon as a library from nodejs code. When specifying a file to upload using this format
`    form: '{ "field_2_fname": { "type": "file", "path": "myfile.pdf"" } }',`
I would like to be able to specify the "filename" content-disposition header.

Also, please make it so that the fil

[2020-01-26 10:08] kim0 commented on #240
Really appreciating the work @dnlup is adding to this project! I really hope to get this fix sometime this week. No pressure, and thanks for your work 👍

[2020-01-26 12:09] dnlup commented on #240
Thanks @kim0 , my work has been adding bugs so far :laughing: . I will try to work on it this week.

[2020-01-26 18:09] #240 closed

[2020-01-26 20:05] kim0 commented on #240
Thanks a tons @dnlup .. really appreciating your help! Quick question, any idea if the filename field can be randomized using `[<id>]` syntax? Thanks!

[2020-01-27 08:55] dnlup commented on #240
@kim0 Yes it can. You can try something like:

[code]

[2020-02-23 17:40] jerikchan opened #245 "support custom TCP protocol"
Can it support TCP protocol?such as 'grpc'、'thrift'、'protobuf' and so on.

[2020-02-23 19:19] mcollina commented on #245
autocannon is a http/1.1 load tester.
Il 23 feb 2020, 18:40 +0100, Jerik Chan <notifications@github.com>, ha scritto:

[2020-02-25 01:42] jerikchan commented on #245
Thanks for your Reply.

I am looking for a tool as good as autocanno to test the our RPC server by custom protocol.

[2020-02-25 01:42] #245 closed

[2020-03-04 16:26] greenkeeper[bot] opened #246 "An in-range update of bl is breaking the build 🚨"
## The devDependency [bl](https://github.com/rvagg/bl) was updated from `4.0.0` to `4.0.1`.

🚨 [View failing branch](https://github.com/mcollina/autocannon/compare/master...mcollina:greenkeeper%2Fbl-4.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bl is a devDependency of this project. It **might not break your prod

[2020-03-10 09:02] davealbert commented on #227
![Screenshot 2020-03-10 at 08 54 01](https://user-images.githubusercontent.com/1281833/76295795-26eaae80-62ad-11ea-8245-dd790a5eef25.png)

I wanted to validate the environments are correct?

All 4 Windows runs appear to die/fail at the same place:

`
            Object.<anonymous> (node_modules/nyc/bin/wrap.js:27:4)
          test: should log error on connection error
          at:
            lin

[2020-03-10 09:41] mcollina commented on #227
We might need to fix the tests :/

[2020-03-10 10:43] davealbert commented on #227
![Screenshot 2020-03-10 at 10 25 29](https://user-images.githubusercontent.com/1281833/76303344-7df68080-62b9-11ea-99dd-fc057c0ed5a9.png)

Changing `/test/serial/run.test.js` duration to 5, 4, and 3 have allowed tests to pass on Windows, setting it as 2 did fail every time. Setting as 3, and 4 failed some of the time.  Leaving it as 5 for now, I'm not sure if this will fail again in the future, bu

[2020-03-10 10:44] mcollina commented on #227
Perfect, thanks.

[2020-03-10 14:54] #227 closed

[2020-03-14 19:54] greenkeeper[bot] opened #249 "An in-range update of standard is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [standard](https://github.com/standard/standard) was updated from `14.3.1` to `14.3.2`.

🚨 [View failing branch](https://github.com/mcollina/autocannon/compare/master...

[2020-03-15 16:40] #249 closed

[2020-03-19 08:13] md-fid opened #251 "Requests (from options) are repeated when overallRate>1 - should be configurable"
## Description
When configuring autocannon to run with a specific rate (rate or requests/secs) and also have a set of "prepared" requests given with "requests" option, then these requests are repeated. This is okay when running GET (reading) requests. But for other HTTP methods this could cause error like "409 conflict".

We have a scenario where we have a flat file of numbers. This file is used t

[2020-03-19 08:18] mcollina commented on #251
Would you like to send a PR to implement this functionality?

[2020-04-10 08:07] hgkiller opened #255 "Using multiple source IPs ?"
autocanmon can  using multiple source IPs  ?

[2020-04-10 09:00] mcollina commented on #255
Not at this moment, but I _think_ it would be possible to configure it to do so.

[2020-04-10 12:57] yoshuawuyts opened #256 "benchmark chunked encoding"
A lot of traffic uses chunked encoding; this is common for streams that don't have a known size up front. This often takes a different route in HTTP parsers and encoders that isn't covered when benchmarking requests with a known length. It'd be fantastic if autocannon was able to issue repeated chunked requests.

Motivation for this is @dignifiedquire wanted to bench our chunked impl in https://gi

[2020-04-10 13:31] mcollina commented on #256
That would be pretty interesting to do. A PR would be mostly welcomed.

[2020-04-11 04:25] hgkiller commented on #255
？  How is it configured?

[2020-04-11 08:56] mcollina commented on #255
It would need a pull request and somebody to figure it out.

[2020-04-11 14:49] evanxg852000 commented on #256
I am currently catching up on my DB course. @mcollina Is it possible you guide me through? I would like to try a stab at this after the Easter break. That is from Tuesday 14th. Till then I am going to read the source code. Hopefully, I can post my questions here.

[2020-04-11 15:53] mcollina commented on #256
Sure, give a shout whenever you are ready!

[2020-04-11 20:26] nimit95 commented on #256
I would also like to put in some effort too. Any way I can help?

[2020-04-12 09:40] mcollina commented on #256
I think this is a task for a single developer. Let's see how far we get along and then regroup, ok?

This repo has some issues - if you want to work on one feel free to pick!

[2020-04-14 08:00] fanyuzzz opened #257 "navigator.userAgent is undefined"
navigator is { userAgent: undefined }
userAgent should be a string.
I can not use navigator.userAgent.indexOf in website javascript
It causes TypeError: Cannot read property 'indexOf' of undefined

[2020-04-14 08:31] mcollina commented on #257
Can you please include a full snippet on how to reproduce?

[2020-04-14 09:15] fanyuzzz commented on #257
It's a SSR enviorment. It's my mistake, sorry.

[2020-04-14 09:30] #257 closed

[2020-04-14 18:56] evanxg852000 commented on #256
@mcollina I have a WIP PR here to discuss around the API before going too far https://github.com/mcollina/autocannon/pull/258

[2020-05-11 17:27] greenkeeper[bot] opened #259 "An in-range update of standard is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [standard](https://github.com/standard/standard) was updated from `14.3.3` to `14.3.4`.

🚨 [View failing branch](https://github.com/mcollina/autocannon/compare

[2020-05-11 17:54] #259 closed

[2020-06-28 16:19] orensolo opened #264 "Multipart file uploading does not work"
Hi,
I am trying to use autocannon for testing file upload.
I invoke the following request :
$AUTOCANNON $URL/files -m POST -H "Content-Type:multipart/form-data"  -H "Authorization=$AUTHORIZATION_HEADER" -F '{ "fileName": { "type": "file", "path": "huge1G.txt"}}')

Where
AUTOCANNON="taskset -c 3-5 /opt/autocannon-tests/node_modules/.bin/autocannon --amount 1 --connections 1 --bailout 5 --json"

The

[2020-06-29 07:43] mcollina commented on #264
Tbh, I never load tested multipart with autocannon. Check out https://github.com/mcollina/autocannon/pull/223/files and see if it can shed some light.

cc @dnlup

[2020-06-29 07:57] dnlup commented on #264
@orensolo [here](https://github.com/mcollina/autocannon/blob/master/lib/run.js#L116) is where the request headers are added, and [here](https://github.com/mcollina/autocannon/blob/master/lib/multipart.js) is where the payload is constructed. There should be the boundary, so I think you are not missing anything. Give me some time to investigate further. What type of errors are you experiencing?

[2020-06-29 12:46] dnlup commented on #264
I can confirm that the boundary is present in the requests.

[code]

![image](https://user-images.githubusercontent.com/15520377/86005849-73512a00-ba15-11ea-8774-d3bc775f68b1.png)

The server used in the above example is the same used in the tests.

Can you share more information about the server environment you are working with?

How much is the size of the file that you're trying to send?

[2020-06-29 13:11] orensolo commented on #264
Hi,

Thanks for the quick response.
I found what the problem was: I sent the request with -H "Content-Type:multipart/form-data"
But I should not add it when using autocannon. (It works if I don't add it)

[2020-06-29 13:13] dnlup commented on #264
Yes, autocannon set that header for you.

Happy to see you resolved the issue.

[2020-06-29 13:17] #264 closed

[2020-07-01 06:12] orensolo opened #265 "Multipart uploading large file does not work"
Hi,

I am testing uploading large files using autocannon.
It works ok for small files. But when I try it with files that their size is larger than 100MB, the server fails with io.unExpectedEOF.
Note that if I use a simple curl to upload large files , then they are uploaded successfully.

Thanks,
Oren

[2020-07-01 17:00] mcollina commented on #265
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-02 07:57] orensolo commented on #265
Hi,
It seems that this is a bug in autocannon. So I will use other tools.
I will appreciate if you have the time to check and fix it if needed. As most testers will probably also need to test their application performance with large files

Thanks,
Oren

[2020-07-09 16:12] admataz commented on #265
Hi @orensolo  - would you mind sharing the autocannon command you are using to try to do this, and if possible a version of the server accepting the multipart form?

I have run some tests locally uploading large file (~348MB) to  a local minimal node fastify server, and found that limiting the number of connections reduced timeout errors. Running autocannon with default values (10 connections) cau

[2020-07-10 07:41] #265 closed

[2020-07-21 18:50] jrasm91 opened #266 "`idReplacement` not unique"
Expected: `[<id>]` to be replaced with a unique id
Actual: `[<id>]` is not unique across requests

I ran the idReplacement sample with this modified handler, which parses the body and prints the email.
[code]

I expected to see unique emails, but saw this instead (with `connections: 2, amount: 10`):
[code]
From what I can tell, the `this.rebuildRequest` is only called on the first request for each

[2020-07-21 20:58] mcollina commented on #266
I think you might have spotted a bug. setupRequest should not be needed. Would you like to send a PR to fix?

[2020-07-21 22:07] jrasm91 commented on #266
Opened a PR for it. Really simple change. Not sure if the failing mac build is related to it or not. Thoughts?

[2020-07-28 16:32] #266 closed

[2020-07-31 10:48] mcollina opened #272 "Use webassembly hdrhistogram"
See https://github.com/HdrHistogram/HdrHistogramJS#boosting-performances-with-webassembly

[2020-08-02 14:11] snydercoder opened #273 "All post-run stats are zero"
When I run this: autocannon -c 100 -d 20 -p 10 -l <my_url>

All the post-run stats show up like this:

┌─────────┬──────┬──────┬───────┬──────┬──────┬───────┬──────┐
│ Stat    │ 2.5% │ 50%  │ 97.5% │ 99%  │ Avg  │ Stdev │ Max  │
├─────────┼──────┼──────┼───────┼──────┼──────┼───────┼──────┤
│ Latency │ 0 ms │ 0 ms │ 0 ms  │ 0 ms │ 0 ms │ 0 ms  │ 0 ms │
└─────────┴──────┴──────┴───────┴──────┴─────

[2020-08-02 14:20] mcollina commented on #273
likely the sever never responded.

[2020-08-03 13:37] snydercoder commented on #273
I'm running it against a local API built in .NET Core and it's hitting breakpoints and returning data. I tried a couple different API calls and test durations and always get zeroes.

[2020-08-03 13:55] mcollina commented on #273
If you disable the breakpoints, does it show the data?

[2020-08-03 16:29] snydercoder commented on #273
If you mean does it show data in the autocannon output no, but the data is in "model" in the "return Ok(model)" of the controller action. Also, making a call to my URL in Postman does return the data fine. In addition, I did deploy it to our server to see if there was a local issue but got the same zeroes result. While running it I also monitored the server and it is definitely doing its job of pr

[2020-08-03 16:30] snydercoder commented on #273
BTW, I'm running on MacOS Catalina 10.15.5.

[2020-08-03 21:38] snydercoder commented on #273
I think the problems is that not all the requests are coming back successfully. Because I'm overloading the API, some responses come back as 504 while others are successful. If I give it a lighter load that it can handle the metrics display fine. Could the intermittent 504s be messing up the metrics?

[2020-08-04 07:05] mcollina commented on #273
Have you tried removing pipelining?

[2020-08-06 13:31] snydercoder commented on #273
Yes, I removed pipelining but still get zeroes if I overload the server too much with concurrent connections.

[2020-08-15 15:07] Jannis opened #275 "Response body is not handled correctly"
I've found the following issue in the response handling:

## The issue

When the response data is sufficiently large (not sure what the threshold is), `onResponse` is called multiple times, each time with a partial body. This makes it really hard to e.g. validate the response body, like checking whether it is valid JSON and matches a certain structure.

The `expectedBody` feature is also broken be

[2020-08-20 12:22] silverwind commented on #233
Also ran into this when ranning against a SNI-only service. I think this module should by default send SNI servername based on the hostname in the URL to make this more intuitive and closer to actual client requests.

[2020-08-20 12:54] mcollina commented on #233
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-20 14:38] silverwind commented on #233
Yes, I'll look into it.

[2020-08-21 08:21] #233 closed

[2020-08-24 18:20] Jdiego06 opened #278 "Can someone explain to me the 4.78MB in the readme.md"
Hi, I don't know if this is the place to ask this, but ...

In the readme file, in the section where an example of the results returned by autocannon is shown, it is explained that in the worst case 4.78MB were downloaded, however I don't understand where this value comes from, according to the table shown.

I appreciate if someone can explain me. Thanks

[2020-08-24 20:55] mcollina commented on #278
That is total number of bytes that have been downloaded through all the connections, including errors.

[2020-08-24 21:07] Jdiego06 commented on #278
@mcollina Sorry, but I don't really understand very well, how you deduce this 4.78MB from the table? What is the difference between this 4.78MB and the 2.29MB that appears in the 1% column?

[2020-08-24 22:53] mcollina commented on #278
Autocannon sample the throughput once per second. In 1% of the samples, it reads 2.29MB.

[2020-08-25 12:41] #278 closed

[2020-08-31 19:11] pola88 opened #279 "setupRequest is being called before setupClient"
Hi,

I'm having an issue, In the setupClient I assign some variables on the context, to use different values between the connections, that I have to use in the first request, but `setupRequest` is being called before `setupClient`, Should not be called `setupClient` first?

Thank in advance,
Pola.

[2020-09-03 11:37] mcollina commented on #279
I don't think the two are connected in any way. See https://github.com/mcollina/autocannon/blob/5112ca4375a49e6ae7f200a456951e73dd60b454/lib/httpClient.js#L34-L61 (`setupRequest` is called via `requestIterator`).

Can you please articulate what you are trying to do with a code example? Thanks

[2020-09-03 15:39] stephan-nordnes-eriksen opened #280 "client.setHeaders only sets headers for first request"
I'm not sure if this is intended behavior or a bug, but in the `setupClient`, while doing a `client.setHeaders`, it only affects the first request in the `requests` array.

Example:

[code]

I think I have found the reason in the source code;

The method on the `httpClient` passes the to the requestIterator

https://github.com/mcollina/autocannon/blob/53643534b935e81970244ea1814cd74572b9e17d/lib/h

[2020-09-03 17:33] mcollina commented on #280
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-09-07 21:50] pola88 commented on #279
Yes, sure, this is what I'm trying to do:

[code]

And this throw an error about `can not read property user on undefined` and also the log `Init connection` is not shown before the error. That why I think that setup request is not calling before the first request

Thanks in advance

[2020-09-08 08:14] mcollina commented on #279
I think you can just move https://github.com/mcollina/autocannon/blob/5112ca4375a49e6ae7f200a456951e73dd60b454/lib/httpClient.js#L34 after https://github.com/mcollina/autocannon/blob/5112ca4375a49e6ae7f200a456951e73dd60b454/lib/httpClient.js#L61.

Would you like to send a PR with a unit test?

[2020-09-08 21:07] pola88 commented on #275
Any news about this issue?

[2020-09-08 21:37] mcollina commented on #275
the PR is waiting for some work to happen, maybe you can take over.

[2020-09-09 07:16] Jannis commented on #275
Ah, yeah, I haven't had time to look into mocking responses that cause two `onResponse` calls yet.

[2020-09-09 14:09] #230 closed

[2020-09-09 14:09] #246 closed

[2020-09-09 14:10] #190 closed

[2020-09-25 05:33] dmngu9 opened #284 "Table of percentile vs req/s and latency explanation needed"
when running autocannon, it generate the req/s and latency table with percentile. I have trouble interpreting these 2 tables. Can someone explain with example and clear details please?

[2020-09-25 09:05] mcollina commented on #284
Every second, the number of  completed requests in that second is stored in a hdr histogram http://hdrhistogram.org/. That gives us those measures.

For the latency, we store the latency for every request in a hdr histogram.

[2020-09-25 09:05] #284 closed

[2020-09-30 13:32] feugy commented on #185
Just a clarification (after a chat with Matteo): this issue is about taking HAR files as in input: their entries will be replayed.
It is not about exporting a benchmark results in an HAR file.

Given there could be hundreds of requests (and more) in results, visualizing them makes little sense.
That said, Pull Requests are welcome if someone absolutely needs it.

[2020-09-30 15:41] #185 closed

[2020-09-30 16:28] krainboltgreene commented on #185
Hell yeah open source!

(disclaimer: I do not remember this issue at all nor this tool)

[2020-10-13 22:08] Kefir100 commented on #235
Hey, awesome library, but this feature is really missing)

[2020-10-13 22:32] Kefir100 commented on #235
But I think there should be some different interface, something like this
[code]
The formula for stage's connection/sec delta is `(target-currentConnectionValue)/duration`

[2020-10-14 09:57] mcollina commented on #235
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-10-15 10:45] Kefir100 commented on #235
Yes, I would like, but ,unfortunately, I cannot promise. I ll send a PR as soon(/if) I manage to create one)

[2020-10-16 03:13] alexhultman-2fa opened #286 "Dearest Matteo Collina"
Hello Matteo,

I hope you'll read this and consider what I'm telling you. It is intended for the better.

First off, autocannon is absolutely in no shape or form whatsoever in any universe faster than wrk. This is entirely absurd and technically impossible in every sense of the word.

Benchmarking a fast server with autocannon is benchmarking nothing other than autocannon itself. This has a catast

[2020-10-16 15:03] alexhultman commented on #286
I've come up with a simple explanation which is technical yet simple to grasp:

The reason why you **think** autocannon is faster than wrk (even though the above simple tests **clearly** disproves this) has to do with the rescheduling overhead in the kernel when one end finishes much faster than the other end.

When a fast client (wrk) executes its operations much faster than the slow server (Node

[2020-10-17 11:09] mcollina commented on #286
Thank you for your feedback.

[2020-10-17 11:09] #286 closed

[2020-10-18 12:41] mcollina opened #289 "Leverage worker threads"
We should use http://npm.im/piscina to to spawn a few threads 🧵.

cc @jasnell

[2020-10-18 12:56] jasnell commented on #289
That depends entirely on what you're intending to do with them :).  Workers are ideal for cpu bound tasks, not I/O bound

[2020-10-18 13:52] mcollina commented on #289
Autocannon is CPU-bound at high-throughput, despite what we can imagine. Connections are essentially independent from each other, we just need to forward the data for collection to the main process.

[2020-10-18 14:04] jasnell commented on #289
Ok, the challenge there is that network connections are still bound by the libuv thread pool, which acts as a choke point. While every Worker thread has its own event loop, they all still share the same underlying thread pool.

[2020-10-19 15:56] jasnell commented on #289
Scratch that... autocannon workload isn't leveraging the libuv threadpool that heavily. Piscina is going to be the wrong model, however. It is built around a work queue model that just doesn't fit for autocannon. You can still make use of workers but don't use piscina.

One additional utility you'll want to include: https://www.npmjs.com/package/nice-napi

[2020-10-22 12:32] dnlup commented on #279
This change makes a lot of sense, but it might break the usage of `setBody` and `setHeadersAndBody` inside `setupClient`:

* https://github.com/mcollina/autocannon/blob/master/test/httpClient.test.js#L202
* https://github.com/mcollina/autocannon/blob/master/test/httpClient.test.js#L491

[2020-11-06 09:46] fraxken opened #296 "Is it possible to render the table with Result ?"
Hi,

I work in a project where we have automated the execution of several benchmarks and we keep all results in JSON format.

So I wondered afterwards if it was possible to render the Table by passing the JSON (JS) as argument? I would like to create a CLI to stdout the result of a benchmark at any time.

Thanks,
Best Regards,
Thomas

[2020-11-06 17:00] mcollina commented on #296
That would be fantatic but it's not currently supported! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-11-06 20:04] fraxken commented on #296
Yes sure no problem, I will send a PR soon.

[2020-11-16 04:33] ynwd opened #300 "Golang vs Node -- WRK & Autocannon"
# Question:
why are the results different?

# WRK:

Nodejs:
[code]
Golang
[code]

# Autocannon

[code]

![Screenshot from 2020-11-16 11-03-16](https://user-images.githubusercontent.com/10122431/99213325-e8c06a00-27ff-11eb-810e-ce0aecbfcb03.png)

![Screenshot from 2020-11-16 10-57-58](https://user-images.githubusercontent.com/10122431/99213339-f4ac2c00-27ff-11eb-9dee-3f491ed49da6.png)

[2020-11-16 11:58] mcollina commented on #300
Could you please paste the content instead of using screenshots?

It's likely that `autocannon` is capping on the CPU, have you check with `top` or analog if it reaches 100%?

[2020-11-16 12:21] qballer commented on #300
While not my issue, I already typed it because I was curious:

[code]
[code]

[2020-11-17 14:47] salmanm commented on #289
Done in #290 & #298

[2020-11-17 15:09] salmanm commented on #279
@mcollina perhaps we should take `context` as one of the options (with default `{}`) and use that [here](https://github.com/mcollina/autocannon/blob/master/lib/requestIterator.js#L13)?

[2020-11-17 16:09] mcollina commented on #279
Yes, go for it.

[2020-11-17 16:10] #275 closed

[2020-11-17 16:11] #289 closed

[2020-11-19 11:29] salmanm commented on #300
I run against both Go and Node servers for 2 seconds and this is what I got:

| Tool | Go (Requests/sec) | Node (Requests/sec) |
| ------------- |:-------------:|:-----:|
| wrk `-t 1` | 92k | 41k |
| wrk `-t 2` | 44k | 21k |
| wrk `-t 4` | 22k | 10k |
| | | |
| autocannon | 57k | 43k |
| autocannon (2 workers `-w 2`) | 96k | 44k |
| autocannon (4 workers `-w 4`) | 112k | 43k |

Indeed, autocannon

[2020-11-19 13:17] #300 closed

[2020-11-19 13:34] #279 closed

[2020-11-30 09:45] salmanm opened #307 "Support ESM modules"
When [using workers](https://github.com/mcollina/autocannon#workers), `setupClient`, `setupRequest` and `onResponse` needs a file path to require. We need to add support to import ESM modules as well.

Starting point [validate.js#L15](https://github.com/mcollina/autocannon/blob/master/lib/validate.js#L15).

[2020-11-30 15:03] hrishikeshgjoshi opened #309 "How to use autocannon for testing self signed certificates"
I am using autocannon to test WebServer performance and it trows error after test is executed before it provides request status as follows.
http-parser.js:126
      throw err;
      ^

Error: Cannot use a destroyed histogram
    at Object.get (/opt/HTTPClient/node_modules/hdr-histogram-js/dist/wasm/index.js:67:15)
    at WasmHistogram.recordValue (/opt/HTTPClient/node_modules/hdr-histogram-js/dist

[2020-11-30 15:23] salmanm commented on #309
Please post the test config.

[2020-11-30 17:44] hrishikeshgjoshi commented on #309
Here is the test script for the same.

"use strict";

const autocannon = require("autocannon");

const loadSpec = {
  loadingInfo: {
    connections: 4, //default
    pipelining: 10, // default
    duration: 900, // default
    maxConnectionSizeLimit: 512,
    connectionIncrementFactor: 2,
  },
  urls: [
    "https://apache.mycompany.com/test.html",
    "https://tomcat.mycompany.com:8443/test.html

[2020-12-01 09:16] salmanm commented on #309
How is this related to testing a server with self signed certificate? Do you mean that you don't see this error when the same test is run against a different http server?

Also, it'd be great help in debugging if you could post a reproducible repo as an example.

[2020-12-01 11:38] hrishikeshgjoshi commented on #309
Yes if I run this test code to use http url. I do not see this error.  Do you see any obvious mistake in code posted above. I will try to provide some reproducible repo soon.

[2020-12-14 15:43] simoneb opened #315 "Avg latency is wrong when using pipelining"
This was apparently addressed in a very old issue #15 but I am still seeing something wrong with latency when pipelining is used, especially in AVG. This is unless I'm interpreting the number wrong. I assume latency is the time a request takes to complete, as described in the docs.

Here's my web app:

[code]

And here's autocannon's output without and then with pipelining:

[code]

[code]

As you

[2020-12-14 15:57] mcollina commented on #315
Good spot, PR? I _never_ look at the avg latency, just at 99% percentile.

[2020-12-18 09:51] #315 closed

[2021-01-08 19:04] RafaelGSS opened #319 "Add title for requests"
## Feature Request

Hey!

I'm creating an automated way to perform benchmarking of an API and I'm wondering whether would be great to have a title in each request performed.

For instance:

[code]

And it gives me a result like:

[code]

And would be great to analyze the requests separately. I mean, what's the average of path `/route` with payload 1? We can do it by creating two instances of `auto

[2021-01-09 12:48] mcollina commented on #319
This would indeed be useful.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-01-12 09:10] zebkailash opened #320 "Provision to specify urlSafe when idReplacement is true"
If we want to add an id after an email string eg: abc_randomStr@gmail.com but currently there is no way to create a url-safe id.

Currently, it creates a string **kailash-FZXY40aXS5C6Ph0KXs1KSQ/0000008544@gmail.com** which is an invalid email due to slash. Can this be supported in upcoming releases?

[2021-01-12 09:44] mcollina commented on #320
It will if you send a PR!

[2021-01-13 03:07] ndkhaivn opened #321 "Support explicit pausing httpClient"
I have some test scenarios where the clients need to wait for an amount of time before resetting back to the first request. Would this feature be valid?

At the moment falsy return from `setupRequest()` will only reset the requestIterator but there's no option to explicitly pause the client.

[2021-01-13 18:17] mcollina commented on #321
Sure it would be valid! Would you like to send a PR?

[2021-01-14 04:47] ndkhaivn commented on #321
Working on it xD

[2021-01-14 22:51] RafaelGSS commented on #319
@mcollina I took a look at it today and seems a major change since every metric should be placed in some namespace (title).

What is the problem to create an `autocannon` instance for every route titled? (Running all the instances at the same time). Perhaps some overhead in the server?

[2021-01-14 23:19] mcollina commented on #319
No problem, only the fact that the subsequent request cannot influence each other.

[2021-01-15 16:39] #319 closed

[2021-01-16 09:29] dnlup commented on #272
I think this one can be closed, right?

[2021-01-16 09:47] #272 closed

[2021-01-20 09:00] Xiryl opened #324 "TypeError: Worker is not a constructor"
Hi,
I'm using the library with the worker options, using the `onResponse` as file module as said on the documentation:

[code]

where in `./helpers/on-response.js`:
[code]

But I'm getting the following error:
[code]

---

I also tried to install the `autocannon` globally and run to check if the problem is in my code, but I'm getting the same error:
[code]

Am I forgetting something to use the wor

[2021-01-20 09:22] salmanm commented on #324
You'll need to use Node 11.7.0+ to be able to use workers.

But it should show the readable error message.

[2021-01-20 09:24] Xiryl commented on #324
Oh good, I have to update node, my bad!
Thank you @salmanm

[2021-01-20 09:27] Xiryl commented on #324
Updating to `v14.15.4` work like a charm.
Thanks

[2021-01-20 10:02] salmanm commented on #324
Reopening as the library should print an error message

[2021-01-20 17:14] #324 closed

[2021-01-20 21:06] CnApTaK opened #326 "v7.0.2 on windows => Error: Cannot find module 'semver'"
node:internal/modules/cjs/loader:928                                                                                                                                                                                 throw err;

[2021-01-21 11:25] CnApTaK commented on #326
excellent! forks perfect! thank you

[2021-01-28 15:47] slaphead commented on #296
Thanks @fraxken for adding this. It works very well!

[2021-01-28 18:18] #296 closed

[2021-01-30 18:11] Xiryl opened #330 "how to figure out the results"
Hi there,

What is the actual meaning of the field `results.errors` value?

For example, looking at the stats result printed at the console:

[code]

And I wanted to understand the value of 735 errors to what it referred. So I looked at the json generated by autocannon containing the execution results, but I notice that actually all the requests generated received a `200 OK` response.

If `request

[2021-02-10 20:14] Xiryl commented on #330
Hi @mcollina can you help me with the meaning of this fields?
I need to check that the same number of generated requests have actually arrived on my database, but I don't have a match with the values that I find in this json.

What is the difference from `requests.sent` and `requests.total`? And whats the meaning of `errors` value?

[2021-02-12 13:57] mcollina commented on #330
Errors -> 5xx status code
total -> number of requests completed with a response
sent -> number of requests sent

[2021-02-12 13:57] #330 closed

[2021-02-17 18:38] #280 closed

[2021-02-19 19:15] ryhinchey commented on #186
just reading through this issue and https://github.com/mcollina/autocannon/pull/205.  Can this issue be closed?

[2021-02-19 23:19] #186 closed

[2021-02-19 23:31] jasnell opened #337 "Setting workers to >= 10 yields eventemitter warnings"
[code]

[2021-02-23 08:39] mcollina opened #339 "Fix Intermittent CI"
As titled, CI often fails.

[2021-02-24 10:27] brainrepo commented on #337
It seems related to the "ora" package use made by "progressTracker" in the workers' mode.

[code]

[2021-03-01 05:45] nherment commented on #339
@mcollina can you please assign me to this or give me the right accesses to the repo to stabilize the CI?

[2021-03-01 09:06] mcollina commented on #339
FYI, you don't need to be give permission to the repo. You should just do a fork: github actions will run there for you.

[2021-03-03 17:05] #337 closed

[2021-03-03 18:33] mcollina commented on #339
is this done @nherment ?

[2021-03-04 06:16] nherment commented on #339
Yes, I think it is. I could not reproduce the errors found earlier.

[2021-03-04 06:16] #339 closed

[2021-03-04 06:49] nherment commented on #339
Fixed by #340, #341 and #343

[2021-03-04 21:41] maxfortun opened #346 "Add display of all response status codes, not just 2xx vs non-2xxx"
When load testing authorization it is very useful to see 30xs, 401s, and 403s.
When load testing proxies it is useful to see 502s and 504s.

[2021-03-06 11:44] Xiryl commented on #330
Hi @mcollina, I'm reopening this issue because 'm experiencing a problem again:
I created a server with fastify, where with `request.id` I print on stdout the sequence number of requests received, and with autocannon I generate the request, where get the following result:

[code]

As you said `requests.total` is the requests completed with a response, and it match the `2xx`, and match the `request

[2021-03-06 12:16] simoneb commented on #330
I guess the autocannon run terminated before sent - total requests were completed

[2021-03-06 12:25] Xiryl commented on #330
Thank you very much @simoneb!
I used to set the `duration` value, and effectively, removing it solves the issue
Thanks again!

[2021-03-11 18:19] afbarbaro commented on #202
I would upvote this request.  We're using [nextjs](https://nextjs.org/) and it does several things right as it boots (like compiling pages) that affect performance.  Having the ability to delay the sampling start will be key to get good measurements.
Thank you!

[2021-03-15 09:31] simoneb commented on #202
How would you expect this to work? What pattern of requests should the warmup stage execute?

[2021-03-15 09:58] mcollina commented on #202
Same as the other one.

[2021-03-15 10:08] simoneb commented on #202
Doesn't it get tricky when the run parameters are (as they are by default) duration-based? Do you run the warmup for the same duration of the actual run? That would probably not be a sensible default unless the run is reasonably short.

But if the run is, say, 60 seconds, how do you do the warmup run?

[2021-03-15 10:19] mcollina commented on #202
You are right! Making this flexibble would need something like:

[code]

You can use https://www.npmjs.com/package/subarg to get the subarg parameters

[2021-03-26 14:08] karanjawa444 opened #351 "onResponse method in the requests array is not triggered"
I am using one of the samples request-context.js but the onResponse method in the requests array is not triggered resulting in the value of the context object not getting populated to orchestrate the API calls.
Would really appreciate the feedback and help!

[2021-03-26 14:18] mcollina commented on #351
Could you paste an example to reproduce your problem?

[2021-03-26 14:37] karanjawa444 commented on #351
![image](https://user-images.githubusercontent.com/45726469/112647374-d2b25e00-8e1e-11eb-9898-baec86e43af0.png)

[2021-03-26 14:38] karanjawa444 commented on #351
And here is the sample file:

[2021-03-26 15:32] mcollina commented on #351
I'm not sure what's the problem on your end, but things are working pretty well if you clone this repo and run `node ./samples/request-context`.

Even running `node request-context` using your code _works_. So you might be doing something wrong.

[2021-03-26 15:53] karanjawa444 commented on #351
Is autocannon support 8.17.0 version or need to upgrade node version?

[2021-03-26 16:29] mcollina commented on #351
You might need to upgrade your Node.js

[2021-03-26 17:25] karanjawa444 commented on #351
Its working now with node 10. Thanks a lot for your help!

[2021-03-26 17:25] #351 closed

[2021-03-27 23:26] oneEyedSunday commented on #273
I'm experiencing the same issue. For context running `ab` (Apache Benchmark) on same server yields expected results

[2021-04-06 07:52] shlomi-ozon opened #356 "Input is not working for me"
Hello,
I am trying to use the input (-i) option and passing the relative path to a text file.
The content of the file is a stringify of an object.
When I am trying to run it I get "Worker error: Error: body must be either a string or a buffer".
so I get into the code to check how it works and I find out that in function "parseArguments" the content of the body after fetching the file is a buffer (

[2021-04-06 08:05] shlomi-ozon commented on #356
Ok, when I am running it without the workers it is working fine.
So I guess the problem it there.

[2021-04-06 08:25] mcollina commented on #356
Good spot! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-06 09:31] shlomi-ozon commented on #356
I will take a look later, I am not sure I will have spare time to fix it.
if it something that won't take too long I will do it gladly

[2021-04-07 15:54] skywickenden opened #358 "--forever does not work from the command line"
Using the `-f/--forever` flag on the command line results in an error. EG:

[code]

results in

[code]

[2021-04-07 16:02] mcollina commented on #358
Good spot! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-09 08:23] #202 closed

[2021-04-13 19:01] Elias-Serneels opened #361 "Pass headers in "onResponse" of requests array"
I'm trying to test an application which has the server set a cookie in the response, redirects the user to a different path and then checks the for the cookie in the second request.
So in short:
In step 1 I send a GET to the server which responds with a 302 and a cookie.
In step 2 I need go to the location of the 302 and send along the cookie I received in the first request.

I'm using the autocan

[2021-04-13 22:40] mcollina commented on #361
I would recommend you to go ahead with a PR, thanks!

[2021-04-16 14:51] #358 closed

[2021-04-23 08:43] ganshiqingyuan opened #362 "requests onResponse params body not support raw binary data like notepack data"
[code]
addBody in pipelinedRequestsQueue.js changes it to utf8 string but not notepack decode

[2021-04-23 08:56] mcollina commented on #362
Can you please add a way to reproduce your problem?

[2021-04-23 09:06] ganshiqingyuan commented on #362
[code]
like this.
 "notepack.io": "^2.3.0"

[2021-04-23 09:08] mcollina commented on #362
Please provide a reproducible example: https://gist.github.com/hadley/270442#:~:text=A%20reproducible%20example%20allows%20someone,description%20of%20your%20R%20environment.

[2021-04-23 09:36] ganshiqingyuan commented on #362
[this test resp](https://github.com/ganshiqingyuan/autoconnection_test)
change addBody to
[code]
works ,,but this make all body become binary..do wo need a option to control this

[2021-04-23 10:52] mcollina commented on #362
I'm not sure your test would work because you are sending a body with a GET request - it's not supported in Fastify.

[2021-04-23 11:21] ganshiqingyuan commented on #362
this test not care about the data of sending ,,the bug happen on response decode,,,you can clone it and have a test,,it realy work,,if you change addBody function in pipelinedRequestsQueue.js and it works good

[2021-04-23 11:22] ganshiqingyuan commented on #362
i can delete the requestData of ```a:123```，

[2021-05-04 09:16] Giancarlo-Ma opened #363 "Why 4.78m and 5 seconds in sample of readme?"
I think that should be  2.29 MB and 10 seconds.

[2021-05-04 09:30] mcollina commented on #363
Would you like to send a PR to update?

[2021-05-05 08:11] EladIsraeli commented on #361
I would like to take this PR :)

[2021-05-05 08:14] elirandav commented on #238
can I create a PR for this issue? @mcollina

[2021-05-05 08:44] mcollina commented on #238
Go for it!

[2021-05-05 08:45] mcollina commented on #361
Go for it!

[2021-05-05 14:00] EladIsraeli commented on #251
@md-fid @mcollina I tried to reproduce the bug in my local environment and I could not generate the issue you presented.
I create 5 requests:

[code]

So basically when you limit the amount to 5 and the autocannon will not repeat over the requests that already have been called.

Is it a good enough solution? 'cause otherwise I could not really understand the issue you're facing nor the solution.

[2021-05-05 14:04] elirandav commented on #356
can I create a PR for this issue? @mcollina

[2021-05-05 14:14] shlomi-ozon commented on #356
@elirandav I already created the fix, but I can't create tests for it currently. do you want I will posh my fix and you will add a test for it?

[2021-05-05 15:22] elirandav commented on #356
nice @shlomi-ozon. Actually, I work TDD so it will be challenging to do the opposite but I see my fix PR was already approved.

[2021-05-07 09:22] ganshiqingyuan commented on #362
have you test this problem?

[2021-05-07 10:01] mcollina commented on #362
We do not parse bodies for GETs in fastify.

[2021-05-07 10:38] ganshiqingyuan commented on #362
i has delete the body,

[2021-05-07 16:32] #356 closed

[2021-05-14 07:32] #238 closed

[2021-05-19 14:37] shalvah commented on #273
Ran into the same issue. Turned out it was because the server was not setting a `Content-Length`, so apparently autocannon kept waiting for the request to end. The fix was setting the `Content-Length`.

[2021-05-19 15:52] oneEyedSunday commented on #273
This is a nice find. I'd take note next time I use autocannon. Should this
really be an issue especially if the response isn't  chunked?

On Wed, 19 May 2021, 15:38 Shalvah, ***@***.***> wrote:

[2021-05-19 16:22] shalvah commented on #273
I was surprised too. Even though the connection was being closed after sending the response. Clients like Insomnia correctly stopped, but autocannon kept waiting.

[2021-05-26 10:13] MasonEast opened #373 "a little question with expectbody"
I want to use `expectbody`, but it supports String, and I looked at your source code and it does:
[code]
The return body of my interface is an object. Your rules will very hard match. Why not use this：
[code]

[2021-05-26 12:30] mcollina commented on #373
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-05-27 07:46] MasonEast commented on #373
Yes, it's my pleasure

[2021-06-04 10:57] krishnaTORQUE commented on #273
I am facing the same issue. Browsers are getting response but autocannon showing zero

100 connections with 10 pipelining factor

┌─────────┬──────┬──────┬───────┬──────┬──────┬───────┬──────┐
│ Stat    │ 2.5% │ 50%  │ 97.5% │ 99%  │ Avg  │ Stdev │ Max  │
├─────────┼──────┼──────┼───────┼──────┼──────┼───────┼──────┤
│ Latency │ 0 ms │ 0 ms │ 0 ms  │ 0 ms │ 0 ms │ 0 ms  │ 0 ms │
└─────────┴──────┴

[2021-06-04 13:53] mcollina commented on #273
To all folks that read this: posting "me too" here will not help. Sending a PR to fix it will. Another great way is to write a server in Node.js that can be used to reliably generate this output.

[2021-06-04 19:26] shalvah commented on #273
Agree. The fix should be for autocannon to count a request as ended when the connection is closed. I'll try to work on it when I have time. Autocannon's a great tool, btw.

[2021-06-04 20:16] mcollina commented on #273
Thanks!

[2021-06-04 23:43] ThePrez opened #376 "RangeError: Invalid typed array length: 0"
Running autocannon on the IBM i platform against a handmade application crashes with the following error
[code]
Node.js version is 14.16.1
With assemblyscript at the top of the stack, this issue may be misplaced (apologies if so). Also, IBM i Web Assembly support is very limited, so the root cause may very well be in the Node.js build on IBM i.

[2021-06-05 06:12] mcollina commented on #376
Unfortunately autocannon uses webassembly internally, so t mge IBM i platform is not supported.

[2021-06-05 06:13] #376 closed

[2021-06-07 11:17] MasonEast commented on #373
Hello, I simply added assertions to autocannon. pr has been mentioned

[2021-06-19 12:41] elirandav commented on #228
I can reproduce it very low `amount` so I don't think the root cause is high concurrency @mcollina  @mmarchini

[code]

[2021-07-04 17:19] elirandav commented on #228
ping @mcollina

[2021-07-04 18:18] mcollina commented on #228
@elirandav
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-06 18:28] elirandav commented on #228
sure. I created a [pull request](https://github.com/mcollina/autocannon/issues/228) @mcollina

[2021-07-07 16:21] #228 closed

[2021-07-08 11:14] lvndry commented on #174
Is it still something we want to implement ? I'd be glad to work on it

[2021-07-08 13:51] mcollina commented on #174
Go for it!

[2021-07-16 19:04] l2ig commented on #273
jfyi: For me, this happened because I forgot to return a `Content-Length` header.
And therefor thanks for making me notice a bug :smiley:

[2021-07-21 13:14] edupleich opened #382 "add flag to automatically follow redirects"
Follow 3XX responses as redirects

[2021-07-21 13:17] mcollina commented on #382
This would be really hard to do unfortunately :(.

[2021-07-21 13:17] #382 closed

[2021-07-21 13:18] edupleich commented on #382
aw, how come if I may ask?

[2021-08-22 19:17] rocksvashi opened #389 "Getting "connect ECONNREFUSED 127.0.0.1:9001""
Hello Team,

I am trying to configure autocannon for benchmark testing but I am not able to configure it to run on the localhost server, it throws a connection refused error, I tried connecting to my localhost using a simple function that uses node fetch, and there it works great. Also if I change the URL in my autocannon script to point to my actual DEV/UAT server, it works great. The only issue

[2021-08-22 19:25] rocksvashi commented on #389
Sorry team, it was my mistake, I was trying to connect to a wrong port 😄

[2021-08-22 19:25] #389 closed

[2021-09-11 02:31] gpathak18 opened #391 "Unable to load PFX certificate with tlsOptions + workers"
Example config -

`const instance = autocannon({
url: 'https://localhost:8080',
connection: 10,
workers: 3,
tlsOptions: {
pfx: fs.readFileSync('path/of/p12/keystore')
passphrase: 'test'
}
}`

When I use this config. I get 'Error: Unable to load PFX certificate'

This config works when I don't use 'workers' option.

[2021-09-11 06:30] mcollina commented on #391
Good spot! There has to be some issues problem when sending the certificate over to the worker.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-09-15 18:16] Fdawgs commented on #346
closed by #347

[2021-09-16 09:43] #363 closed

[2021-09-30 18:18] alexe100 opened #399 "Error details?"
Hi
I am executing autocannon on command line in Linux and the result shows:

...
0 2xx responses, 42842 non 2xx responses
46k requests in 10.11s, 30.2 MB read
92 errors (0 timeouts)

Is it possible to display information about the 92 errors?

Thanks
Alex

[2021-09-30 19:00] mcollina commented on #399
Not at the moment, but a PR to add  something would be amazing

[2021-10-13 15:53] radomird commented on #391
@mcollina & @gpathak18 I've created a PR, please review when you have time. Thanks.

[2021-10-15 08:28] #391 closed

[2021-11-11 15:22] behind2 commented on #199
Could you give a demo？

[2021-11-16 08:07] LiranBri opened #405 "custom logic instead of simple http request"
Hi, great tool!
is it possible to make a custom logic operation instead of a simple HTTP request?

for example, I would like to make a query to Cassandra. or even test cpu-intensive operations.

thanks

[2021-11-16 08:09] mcollina commented on #405
Unfortunately autocannon is based on HTTP... but maybe would you like to work on this?

[2021-12-15 10:42] silverwind opened #413 "Can't send JSON array as body"
[code]

Adding some logging, it seems this is an issue with the argument parser which decodes an object from the argument, `body` is `{"_":[]}` when it hits this verification function.

Ugly workaround:

[code]

[2021-12-15 14:31] mcollina commented on #413
good spot! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-12-15 15:50] silverwind commented on #413
Possibly. I guess the [`subarg`](https://github.com/substack/subarg) is the culprit with its interpretion of `[` in arguments. It probably needs to be either replaced with `minimist` or above dirty workaround to be added.

[2021-12-15 16:50] mcollina commented on #413
I'm kind of ok with the ugly workaround if it fixes your problem.

[2021-12-23 17:42] #413 closed

[2021-12-24 09:38] Elias-Serneels commented on #361
Thanks for picking up this PR! I just got back to what I was working on back then and saw I never went ahead and made the PR with the changes. Good to see it merged already!

[2022-01-11 12:47] Elias-Serneels commented on #361
After testing this out it works great in most cases however it doesn't seem to work when a server sends back multiple headers with the same key but a different value. For example my server sends back multiple `set-cookie` headers.

The current implementation puts all of the these headers under the same `set-cookie` key, effectively overwriting the previous value for each header that has the same k

[2022-01-12 14:24] #361 closed

[2022-01-26 19:56] drewva commented on #143
Hey, I was wondering: is this enhancement is still desired by the autocannon team?

[2022-01-26 21:26] mcollina commented on #143
Sure if you would like to work on it!

[2022-01-27 21:51] drewva commented on #143
I made some progress on the enhancement, but I have a few questions about how you all want it to turn out, specifically:

- As for input validation, what invalid inputs should I account for? I currently have it essentially the same as for the duration input.
- When the default is not being used, what letter should represent the input about samples? s & S are already being used.
- When the default

[2022-01-28 08:14] mcollina commented on #143
Could you make suggestions? Pick what makes sense to you, we can check it during review.

[2022-01-30 19:19] drewva commented on #143
My suggestions are:

- The user controls the interval between samples, while the total # of samples is derived.
- The sample interval can be configured using -L in which L stands for length.
- The progress bar updates every second.
- The input validation & the format of the output would take longer to describe, but if you all are ready for me to push this onto a new branch & open a pull request th

[2022-01-30 20:00] mcollina commented on #143
Go for it!

[2022-02-01 13:18] ChakshuGautam commented on #405
I would like to work on this. I know this is not a replacement to https://k6.io/ but I would want a similar functionality without much of a perf hit.

[2022-02-01 13:21] mcollina commented on #405
go for it!

[2022-02-01 13:34] ChakshuGautam commented on #405
I think I wrongly read the issue. I just want custom checks - the OP wants to check for more of an _adapter_ for other connections. I will create a separate issue for this.

[2022-02-01 14:30] trycontrolmymind commented on #309
@hrishikeshgjoshi i think you can run your tests like this
`NODE_TLS_REJECT_UNAUTHORIZED=0 node runTest.js`

[2022-02-27 18:49] micalevisk commented on #176
adding

[code]

should fix that.

[2022-02-27 19:01] mcollina commented on #176
node 6, 8  and 10 are not supported anymore by autocannon. What's the point of adding those?

[2022-02-27 19:52] micalevisk commented on #176
cool, didn't know that. So the `engine.node` could be `> 10 || ^9.4` to make this even clear from users perspective

[2022-02-28 07:57] mcollina commented on #176
I don't understand why you want to make his change.

[2022-02-28 07:57] #176 closed

[2022-03-12 21:21] klcodanr opened #432 "Cannot Use on OpenWhisk Actions Using Webpack"
I was trying to use autocannon in an OpenWhisk action created with webpack. It seems like when webpack packages up autocannon it doesn't include the dynamic call to read help.txt thus autocannon fails when invoked with:

    Initialization has failed due to: Error: ENOENT: no such file or directory, open '/nodejsAction/G7zjExia/help.txt'
    at Object.openSync (fs.js:476:3)
    at Object.readFileS

[2022-03-13 10:13] mcollina commented on #432
You can configure webpack to bundle static files or to emit the needed static files in the right places. I do not have a quick how to but this was done in the past.

I don't think we should modify autocannon to support this.

[2022-03-14 02:19] klcodanr commented on #432
I may be missing it in webpack's documentation, but I don't see how I can do this for a dependency of my module.

Either way it seems unintuitive / unfriendly for autocannon to fail at runtime when it's used in a library built with a common build tool like webpack.

If the concern is on impacting autocannon, would a reasonable solution be to instead wrap the read of the help.txt in a try-catch? Wh

[2022-03-15 11:09] mcollina commented on #432
A better option is to split https://github.com/mcollina/autocannon/blob/master/autocannon.js into two files:

1. the entrypoint for the module
2. the entrypoint for the CLI

Would you do that? Thanks

[2022-03-15 13:16] klcodanr commented on #432
Sure. I'll close the PR on the previous approach.

[2022-03-15 15:01] klcodanr commented on #432
@mcollina well it turns out that fix is _really_ easy, just move the call to read the help inside of the `parseArguments` function.

[2022-03-29 16:32] chainalert-bot opened #439 "ChainAlert: npm package release (7.8.1) has no matching tag in this repo"
Dear [autocannon](https://npmjs.com/package/autocannon) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (7.8.1) of [autocannon](https://npmjs.com/package/autocannon) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we would like to verif

[2022-03-29 21:03] mcollina commented on #439
thanks, fixed!

[2022-03-29 21:03] #439 closed

[2022-04-18 14:26] GuanyuChen opened #442 "customize the mismatch rules for expectBody?"
hello, i want to get the mismatch result of pressure test。From the source code, I can see only one rule to compare expectBody  is "equal"。Is it possible to customize the validation function？like :

[code]

I can make a PR for this but I'd like to know if there are alternatives first.

[2022-04-18 18:24] mcollina commented on #442
go for it!!!

[2022-04-19 07:31] GuanyuChen commented on #442
hey bro. This PR is for the issue.

#443 https://github.com/mcollina/autocannon/pull/443

[2022-05-04 11:18] #442 closed

[2022-05-17 16:24] satanacchio opened #451 "Semicolon insertion ❓"
I've noticed that semicolons are not used at the end of statements. I know they are optional in most cases, but I was wondering what led to this choice and what are the pros/cons.

[2022-05-17 20:09] GlenTiki commented on #451
This project uses the standard.js style for formatting code. Using a style/lint ruleset like this avoids wasting time agonizing about decisions that have little to no bearing on the performance of your application, it simply allows you to write code, autoformat it and work on the hard problems, not the superficial preference ones (like semis vs none).

Read more there: https://standardjs.com/

[2022-05-17 22:19] #451 closed

[2022-07-29 20:29] matt212 opened #457 "expectBody not working as expected"
Hi @mcollina
my version  "autocannon": "^7.9.0",
my codebase

let customResponse= [customResponse](https://gist.github.com/matt212/65383bd9f183a1b6449e87437fc61bdd)
[code]
The response which i am getting from api response is below
[API Response](https://gist.github.com/matt212/742d761f5415d5a774368496caf95976)

and when I compare it http://www.jsondiff.com/ it was identical

Any pointers on how to

[2022-07-29 22:16] mcollina commented on #457
I don't understand the question

[2022-07-29 22:43] matt212 commented on #457
@mcollina
ok the issue is i am getting mismatched in my output even after responses are identical

[2022-07-30 08:19] mcollina commented on #457
Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-07-30 08:37] matt212 commented on #457
Hi @mcollina
approach-1
just out of box thinking can't you just compare  below
let customResponse= [customResponse](https://gist.github.com/matt212/65383bd9f183a1b6449e87437fc61bdd)
let APIResponse=[API Response](https://gist.github.com/matt212/742d761f5415d5a774368496caf95976)
in your `expectbody `test case to use what is issue there.
because that is root cause of mismatch message
approach-2
and

[2022-07-30 08:44] mcollina commented on #457
I still don't understand your problem, so I can't help. If there is a bug, a contribution fix would be awesome.

[2022-07-30 08:48] matt212 commented on #457
@mcollina   let me  create repo and provide you details like run and steps to reproduce
 so that you can reproduce the issue.
give me sometime on that

[2022-07-30 19:28] matt212 commented on #457
Hi @mcollina
I have put together this repo with all required details to reproduce the issue

[NodeJS_Fastify_AutoCannon](https://github.com/matt212/NodeJS_Fastify_AutoCannon)

All instructions are spelled out in readme file for above repo

Cheers !

[2022-07-30 21:57] mcollina commented on #457
Thanks, will take a look when I have a chance. A PR to fix would be highly welcomed.

[2022-07-31 13:21] matt212 commented on #457
Hi @mcollina
I am trying to Perform PR on this issue below is progress
**Forked repo Feature branch**
https://github.com/matt212/autocannon/tree/issues_457

I am trying to PR for https://github.com/mcollina/autocannon/issues/457
and code is patched
[code]

unit test code for evaluating is in progress the  issue is below

`location : run.test.js Line no 330`

`TypeError [ERR_INVALID_ARG_TYPE]: The

[2022-07-31 15:46] matt212 commented on #457
Hi @mcollina

Just as an FYR
Temp WorkAround for this Bug is use `expectbody `as string only

`expectBody: JSON.stringify(<tocompareJsonObjectResponse>);`

[2022-07-31 16:12] matt212 commented on #457
Hi @mcollina

there is deeper problem wherein `resp.body` always is string so my below code will only work
if `resp.body` follows actual api response type whether it is obj or string

[code]

further investigation points to below
`const HTTPParser = require('http-parser-js').HTTPParser`
which parses and it seems convert all responses to string
again that is as per my investigation correct me if i

[2022-08-01 09:23] NilsDietrich opened #458 "JSON-body cannot be parsed in windows terminal"
Hello guys, I have trouble to use autocannon 7.9.0 with a JSON-body specified via '-b' parameter in any windows console.
Here is my super basic express.js server:

[code]

Now I try to use the following command:
`autocannon -c 1 -a 1 -m POST -H 'Content-Type: application/json' -b '{"a":2}' http://localhost:3000/test`

This causes the server to throw an error: "Unexpected token a in JSON at positio

[2022-08-01 12:37] mcollina commented on #458
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-04 08:00] bortolottidev opened #459 "Simple mode differ from requests array mode"
Hey guys,

I've found a difference in the behaviour of the "simple mode" and the more customizable "requests mode".

Here is the reproducible code:

**Simple mode**
[code]
_Response: 200_

**Requests mode**
[code]
_Response: 503_

I'm using the following versions:
Node: 17.5.0
NPM: 8.4.1
Autocannon: 7.9.0

Let me know if i could help with more info or it's correct and i'm missing something

[2022-08-04 14:20] bortolottidev commented on #458
I think its not an autocannon problem. It works fine with escape before double quotes:
`npx autocannon -c 1 -a 1 -m POST -H 'Content-Type: application/json' -b '{\"a\":2}' http://localhost:3000/test`

(i added npx because i use to save autocannon in dev dep)

[2022-08-04 20:45] mcollina commented on #459
I don't know! Would you like to send a PR with a fix?

[2022-08-05 11:15] NilsDietrich commented on #458
I tried escape the double quotes and adding npx, but for me it didn't help :/
Still gives an error or logs 'undefined' as body if I disable body-parser.
Are using windows 11 and node 16?

[2022-08-05 16:59] NilsDietrich commented on #458
Okay I figured it out:
- If I use windows-powershell and escape quotes in body, like @bortolottidev said, it works.
- It seems to be impossible to use '-b' parameter on normal windows cmd.

Thanks for help!
Issue can be closed. Maybe add a notice in readme for '-b' parameter.

[2022-08-05 17:46] bortolottidev commented on #459
Actually I'm doing some check on the httpRequestBuilder, but the two requests seems to be equal

[2022-08-05 18:01] bortolottidev commented on #459
Ok, found it..
If i use as url 'https://fondimatica.it' and path '/FonteNuovaAreaAderenti_Api/api/v1/Account/AbilitaAccesso' it works fine.
Not sure if its a bug

[2022-08-05 18:19] #458 closed

[2022-09-09 22:31] viglucci opened #462 "Recorded responses does not match total requests"
Hi!

First, great package. I have been using autocannon to test several projects and found it very useful. Thanks for your hard work!

## Env

[code]

## Issue

I've noticed that the stats output after running a test returns numbers that don't always seem to match up. For example:

[code]

The number of responses received doesn't seem to equal the number of requests executed.

`1612 + 75 + 22 = 1,

[2022-09-10 07:42] mcollina commented on #462
Yes exactly

[2022-09-29 19:37] Uzlopak opened #464 "Not properly handling early hints"
Running the examples of https://github.com/fastify/fastify-early-hints resulted in some odd behaviour of autocannon and it seems that autocannon has issues to process 103 early hints properly. When sending 10 requests i get 10 x 103 but 0 x 200. With 100 requests I always get 50 x 103 and 50 x 200, so that works. But more than 100 it just gets about 30-40 % x 103 and 60-70% x 200.

When running a

[2022-10-01 07:30] mcollina commented on #464
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-10-04 13:18] paulsmithkc opened #465 "autocannon unable to send multiple headers to express apps"
I'm trying to use autocannon to do some fairly simple load testing, but autocannon is not reliably delivering all necessary headers.

Example script

[code]

Only the first header is being reliably delivered. The content-type header is coming through as undefined for most of the requests.

[2022-10-04 14:20] paulsmithkc opened #466 "autocannon unable to send json body to express server"
I'm trying to use autocannon to do some fairly simple load testing, but the body of the request is coming up undefined when it is received on the server side.

**Example script**
[code]

[2022-10-04 14:35] paulsmithkc commented on #466
Resolved, further testing revealed that the issue was in one of our express middleware functions.

[2022-10-06 17:01] #466 closed

[2022-11-02 11:39] ErisDS opened #471 "Unexpected jump in request count between c=149 and c=150"
I was running some load testing locally using autocannon and noticed this weird behaviour:

c=149: 42k requests in 30.06s, 22.2 MB read
c=150: 666k requests in 30.02s, 79.1 MB read

[code]

[code]

[2022-11-02 11:56] ErisDS commented on #471
At 150 I get `socket: too many open files`, so I guess the is actually because the requests all fail really fast and therefore the tooling can get many many more requests completed.

Ignore me.

[2022-11-02 12:16] #471 closed

[2022-11-03 11:52] GeekBeardLinks commented on #465
You can use de `--headers` or `--H` parameter multiple times if you need to send multiple headers.

`npx autocannon -c 100 -p 10 -d 5 \
--renderStatusCodes --method POST \
--headers 'custom-header=Value' --headers 'Content-Type=application/json' \
--body '{"key1":"value1", "key2":"value2"}' \
http://localhost:3022/path`

[2022-11-08 16:23] RuanAzevedo opened #472 "One question about the requests array and connections"
Having an array of `x requests with different bodies`, is there a way to send all these requests using multiple connections that do not repeat the body (from the requests array)?

On my first tests, seems like all the connections iterate through all the array items, but in my use case, I would like not to send duplicated bodies on the requests.

[2022-11-08 17:59] mcollina commented on #472
I don't think so.

[2022-11-08 18:26] #472 closed

[2022-11-17 14:12] paulsmithkc commented on #465
@GeekBeardLinks Tried that too and it doesn't work.

[2022-11-23 08:34] 0Ams opened #473 "[Question] How can I use "encoding-type: gzip"?"
# curl command
[code]

# Want to autocannon
[code]

Is it impossible to test for compression?

If can it, please let me know what you can do. :)

[2022-11-25 15:14] leafac opened #474 "Format of reports when they’re piped into a file: Control characters & JSON"
First of all, thanks for autocannon. I’m starting to use it and liking it 😁

I’ve noticed two formatting issues when piping the output of autocannon into a file.

**Issue 1**

autocannon prints the control characters that would have made a terminal use different colors. For example:

[code]

`output.txt`

[code]

I suppose that autocannon could detect that it isn’t printing to the terminal and omi